[2020-08-03 08:59] daniel-alonso-sanchez commented on #1298
We created a jira ticket almost a year ago,  but looks like the liquibase bug tracking is done through github. Sorry for the inconveniences.

https://liquibase.jira.com/browse/CORE-3455

[2020-08-03 09:08] regrog opened #1299 "Liquibase dropAll failed on DB2 schema with expression-based indexes"
Any new step about this issue?
https://liquibase.jira.com/browse/CORE-2877

Thanks

[2020-08-03 12:10] molivasdat commented on #1294
Hi @Tsyklop Thanks for taking the time to write up this issue.  This may be a duplicate of this https://github.com/liquibase/liquibase/issues/1276 issue.  Can you try running 3.10.2 that just came out and see if this is a difference between 4.0.0 and 3.x?

[2020-08-03 19:29] molivasdat commented on #1298
Thanks @daniel-alonso-sanchez for creating this issue and bringing it to our attention.  We will add it to the list of issues we need to address.
A couple of questions from the previous versions.  Is the assumption that the csv columns will have headers?  What if the csv does not have a header row?
In 3.4.2, the described changeset worked with only describing a few columns and then leaving the res

[2020-08-04 02:30] ro-rah opened #1300 "Informix can't create formatted sql procedure"
## Environment
Mac, using docker containers for db

**Liquibase Version**:
Liquibase Pro 4.0.0

**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>
CLI

**Liquibase Extension(s) & Version**:
n/a

**Database Vendor & Version**:
IBM Informix Dynamic Server Version 14.10.FC3DE

**Operating System Type & Version**:
Mac 10.15.5

## Description
I can run the f

[2020-08-04 10:23] vinodvpillai opened #1301 "Liquibase is not working after upgrading 3.5.5 to 3.8.9"
## Environment
**Liquibase Version**:3.8.9

**Liquibase Integration & Version**: Spring Boot (2.3.1.RELEASE)

**Liquibase Extension(s) & Version**:  NA

**Database Vendor & Version**: SQL Server 2017

**Operating System Type & Version**: AWS EC2 - (Amazon Linux 2)

## Description
Liquibase is not working after upgrading spring boot from 2.0.5.RELEASE to spring boot 2.3.1.RELEASE.
After upgrading s

[2020-08-04 13:31] ro-rah commented on #1300
[Archive.zip](https://github.com/liquibase/liquibase/files/5022323/Archive.zip)
I just manually ran the script in dbeaver and can see the proc present but when I run a diff or generateChangeLog the objects don't appear in the resultant output file.

I've included my dbchangelog.sql and the outputs of running:
- liquibase --changeLogFile=procedure.informix.sql generateChangelog
- liquibase --change

[2020-08-05 12:13] molivasdat commented on #1299
Hi @regrog Thanks for bringing this issue back up to attention.  We are processing issues as fast as we can.  This is a database specific order because of the internal view that is created.  Two items that may help are to add rollback scripts in the initial changeset that help with ordering.  A second would be to create a PR with the code that fixes it.

[2020-08-05 12:51] molivasdat commented on #1300
Hi @ro-rah .  Thanks for the detailed explanation and recreation steps of this issue.  We will add it to our list and process it as we can.
But to answer your question, it looks as though from this issue that procedures may be broken.

[2020-08-05 12:56] molivasdat commented on #1301
HI @vinodvpillai Thanks for bringing this issue to our attention.  We will add it to the list of issues that we are processing and see what can be done about fixing this issue.

[2020-08-05 12:57] ro-rah commented on #1300
Let me know if you have any trouble repro-ing, be happy to help.

[2020-08-06 09:35] jcaillon opened #1303 "Firebird support"
Hello, Thank you for this great tool.

## Environment
**Liquibase Version**: 3.10.2

**Liquibase Integration & Version**: none, using CLI

**Liquibase Extension(s) & Version**: none

**Database Vendor & Version**: Firebird 3.0.6

**Operating System Type & Version**: Windows 10

## Description
I encounter an issue when using liquibase for a firebird databae.

I'm trying to update my database (which

[2020-08-06 13:01] little-fish opened #1304 "insert command with valueSequenceNext uses default schema name"
## Environment
**Liquibase Version**: 4.0.0

**Liquibase Integration & Version**: spring boot

**Database Vendor & Version**: Oracle 11g, PostgreSQL 8

## Description
I have a changelog with following changesets:

[code]

And Liquibase fails with:

[code]

If I try ` <column name="id" valueSequenceNext="my_schema.my_sequence" />` it fails with:

[code]

I have tried Oracle and PostgreSQL.

`LIQUIB

[2020-08-06 14:28] xpoinsard commented on #1192
This seems related to https://liquibase.jira.com/browse/CORE-3204

[2020-08-06 16:35] JeremyTwiggs commented on #1294
Hi, I'm running pretty much the same combination of dependencies and I just upgraded to 4.0.0 and started getting:

We use Tomcat, so could the problem be something like a static dependency to something that should be optional?

[2020-08-07 12:38] molivasdat commented on #1300
Hi @ro-rah Can you try adding splitStatements=false to your changeset?
https://docs.liquibase.com/concepts/basic/sql-format.html

[2020-08-07 19:04] adampaul112591 opened #1307 "Issue parsing CSV that was generated by liquibase"
## Environment

**Liquibase Version**: 3.10 & 4.0

**Liquibase Integration & Version**: Gradle

**Database Vendor & Version**: MySQL

**Operating System Type & Version**: Docker/Linux

## Description

Error:
Reason: liquibase.exception.UnexpectedLiquibaseException: CSV file /cma/jenkins/workspace/DCCM/CT1/Pipeline2/AWS/terraform/rds-provisioning/ct1/ansible/resources//fge_audt_dtl.csv Line 159430

[2020-08-07 19:54] dalyodhran commented on #1158
Hi @molivasdat. Thank you for creating a PR for this fix, we are currently using 3.10.x in our build, so it would be great if you could put the fix there. Thank you

[2020-08-10 14:26] molivasdat commented on #1303
Hi @jcaillon Thanks for the detailed issue description.  Would it be possible to create a fix in a PR of the code?  If not, we can add it to the list of issues that we are processing.

[2020-08-10 14:29] molivasdat commented on #1304
Hi @little-fish Thanks for writing up this issue.  We will add it to list of issues that we are processing.

[2020-08-10 14:36] molivasdat commented on #1307
Hi @adampaul112591 .  Thanks for writing up this issue.  What is different about this particular row in the database that might give us a clue on why this line is failing?  Is there any more information about that row in the database that you can provide?
Is there a simpler testcase that you could provide that shows the failing condition?
What are the column names and types?

[2020-08-10 14:57] ro-rah commented on #1300
using split statements work, here was my corrected changeset:
[code]

So this works, I consider this closed.

[2020-08-10 14:57] ro-rah commented on #1300
Closing!

[2020-08-10 14:57] #1300 closed

[2020-08-10 15:21] MarvinGEA opened #1311 "Release lock on SIGTERM"
We're using Liquibase in a Wildfly application server using the liquibase CDI integration inside a Docker container (not sure if the latter fact is relevant for the problem).

If we now terminate the Wildfly while Liquibase is applying our change sets, the changelog lock will not be released. Upon the next start of the Wildfly we're waiting for the lock to be released, which will never happen. The

[2020-08-10 16:30] ggdn opened #1312 "Liquibase is very slow on startup with spring boot"
## Environment
**Liquibase Version**: 3.8.5
**Liquibase Integration & Version**: spring boot
**Liquibase Extension(s) & Version**: none
**Database Vendor & Version**: oracle v12
**Operating System Type & Version**: unix rhel v7

## Description
Hello
Sometime Liquibase can take a lot of time to startup ~3 minutes without any changelog to apply. I don't know why, and the problem didn't occurred with

[2020-08-10 17:47] adampaul112591 commented on #1307
@molivasdat there are similar rows, and I would believe data type from the source database is irrelevant as it is being read from a CSV file that liquibase generated with generateChangeLog from the source database.  I would think maybe it's something to do with the ${} piece of the last element, but if liquibase can't interpret that then why did it successfully export it as such?

[2020-08-10 17:48] adampaul112591 commented on #1307
I do not have a simpler test case that replicates the issue

[2020-08-10 17:56] molivasdat commented on #1307
Hi @adampaul112591 Thanks for the prompt response.  Since I don't have access to your data nor do I want it, I was asking what is different about row 159340 than the other pieces of data.
You stated this worked for 200+ other CSVs, so all I am asking is if you can query the database directly and see if there is are any special characters in that row or difference in data for that row from all the

[2020-08-10 18:06] vinodvpillai commented on #1301
@molivasdat Thanks.

I would like to share my finding and how I resolved this issue from my side; in Liquibase 3.5.5 the default user worked fine for the schema level changes and we didn’t face any permission issue but from Liquibase 3.8.9 this was not the case it started giving me error (`Cannot use default schema name my-schema on Microsoft SQL Server `) so we created a new user and gave the per

[2020-08-10 21:36] molivasdat commented on #1276
This looks like it only affects users that package db-changelogs in another jar file withing the springboot.jar file.  I'm not minimizing the issue, just letting others know.

[2020-08-10 22:05] antonalechnovic commented on #1030
How do you rollback with springboot and liquibase?

I can confirm that I did succeed to rollback but I had to be in exact directory with CLI as from where Spring Boot starts (i.e. see issue I mentioned).

What do you mean "it didn't rollback without file" you mean via xml syntax? or embedded rollback? With XML it is tricky as not every operation could be rolled back I think.

I think liquibase dev

[2020-08-11 02:03] ro-rah opened #1313 "FIrebird chokes on the first insert statement into databasechangelog table"
## Environment
Firebird container built using: https://github.com/jacobalberty/firebird-docker
v. 3.0.6

**Liquibase Version**:
4.0.0

**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>
CLI

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**:
Firebird 3.0.6

**Operating System Type & Version**:
Mac for local system
Docker container for

[2020-08-11 07:30] MarvinGEA commented on #1311
This seems to be a problem with Spring Boot too: https://stackoverflow.com/questions/55954588/ensuring-spring-boot-and-liquibase-receive-and-handle-sigterm

[2020-08-11 11:47] molivasdat commented on #1301
Hi @vinodvpillai Thanks for sharing what you found.
I'm not sure why one user could not update the DATABASECHANGELOG table and another could.
Did one user have insert but no update privileges?
Were you able to run the spring.liquibase.clear-checksums=true logic with the old user or the new user?
Glad to hear that you are back working again.

[2020-08-11 11:52] molivasdat commented on #1311
Hi @MarvinGEA Thanks for bringing this issue to our attention.  There is currently not a way to release the changelog lock when the application receives a SIGTERM.  If you would like to suggest a way via a PR with code and create a fix, we can review it for inclusion into the code.

[2020-08-11 12:02] molivasdat commented on #1312
Hi @ggdn Thanks for writing up this issue.  From the log you shared, are there multiple springboot applications connecting to the same database?  Are there multiple changelogs trying to update the database at the same time?
I'm trying to figure out how to reproduce the error.  Random issues are difficult to debug and fix as you know.

[2020-08-11 12:38] ggdn commented on #1312
Hi thanks for your support.
Yes, multiples applications are connecting to the same database, but they have there own dedicate schema
Each schema/application has it own DATABASECHANGELOGLOCK/DATABASECHANGELOG.

All changelogs are already done on a previous startup

[2020-08-11 12:43] molivasdat commented on #1313
Hi @ro-rah Thanks for taking the time to document the recreation steps and bringing this issue to our attention.  I have reproduced the error and will add it to the list of issues we are processing.

[2020-08-11 14:00] MarvinGEA commented on #1311
We already tried to fix it by adding a PreDestroy hook to the `CDILiquibase` class:

[code]

But the CDI container (in this case Wildfly) doesn't execute that hook when shutting down. Unfortunately our CDI/Java EE knowledge is not that advanced that we could figure our why it's not executed. Does anyone have an idea?

[2020-08-11 14:25] bayetovsky commented on #1311
Do you have any shutdown delay to allow servlets to unregister? From springboot/tomcat perspective i'm thinking on something similar to unloadDelay.

Did a quick check on Wildfly's docs and saw this which may give you some additional time to allow servlets to unload -  "org.wildfly.sigterm.suspend.timeout". Can you have a go at it @MarvinGEA ?

[2020-08-11 14:55] ggdn commented on #1312
I ran another test with debug log level. 1m30s between two lines :

[code]

all changelogs were already executed in another deployment
[code]

[2020-08-11 15:17] ro-rah commented on #1030
Hey @antonalechnovic and others following this thread.  I believe pathing has been reworked to fix many of these SpringBoot/Liquibase issues since 4.0+, if you try doing an update and rollback with 4.0.0 it should work (note it won't work on older changesets already updated b/c the changelog will have the pre 4.0 pathing).

Could you try this with [liquibase](https://www.liquibase.org/download) 4.

[2020-08-11 19:56] szandany opened #1315 "Postgres generated changeLog should not contain schema name for STOLO if includeSchema is turned off"
## Environment
**Liquibase Version**: 3.10.2

**Liquibase Integration & Version**: CLI.

**Operating System Type & Version**: Windows, Unix/Linux

## Description
When generating PostgreSQL changeLogs (any format - XML, Formatted SQL, JSON, YAML) with stored procedures without the flag `--includeSchema=true`

1. The changeLog **will have the schema name** included for **Stored Procedures objects**.

[2020-08-13 01:19] krisz1111 commented on #1265
Same problem when using double dots.
For example:
<includeAll path="../included_sql/" relativeToChangelogFile="true"/>
will execute sql files in "included_sql" folder TWICE.

Tested on 3.10.2 and 4.0.0.

This is probably a more serious issue than the single dot as there is no easy workaround if you want to use relative paths.
In my case, some change log files are located outside of the base folder

[2020-08-13 03:17] joeljoejoseph opened #1317 "Database migrations with multiple SQL files"
## Environment : Development environment for the POC in production rollout
**Liquibase Version**: 3.7.0

**Liquibase Integration & Version**:  Im currently using maven and the command line liquibase

**Database Vendor & Version**: Oracle & 12.1

**Operating System Type & Version**: Liquibase in windows machine - Windows 7 Professional

## Description
I have tried out executing the multiple files e

[2020-08-13 15:41] adampaul112591 commented on #1307
@molivasdat sorry for the belated response.  I have scanned and removed any special characters using the following code partially taken from the liquibase source code.  However the offending line mentioned above is unmodified and no special characters are identified.

for (int i = 0; i < len; i++) {
                                current = element.charAt(i);
                                if (Ch

[2020-08-13 15:43] adampaul112591 commented on #1307
@molivasdat Also I believe you misread the error it says "Line 159430 has 10 values defined, Header has 9" meaning there are 10 values on that line and it is only expecting 9.  Somehow something in that line is making it believe that 1 field is 2 separate fields.

[2020-08-14 14:19] molivasdat commented on #1313
@ro-rah This is a duplicate of #1303

[2020-08-14 15:26] molivasdat commented on #1312
@ggdn Thanks for the additional info. Still puzzling on why it's getting stuck there.  Will need to look into the code between those two code sections.

[2020-08-14 16:36] Sam2243 opened #1321 "Liquibase not executing the changeset (logicalFilePath)"
Hi,

I have a `changeSet` element which is having a `logicalFilePath`. The file is outside of the project in the localtion "/tmp/liquibase/1.xml". Like the following

`  <changeSet id="CR-12194232" logicalFilePath="/tmp/liquibase/file.xml" author="sam" context="dropin" />
`
The contents of file.xml is the following

`<insert tableName="Language">
		<column name="isoName" value="AA" />
		<column na

[2020-08-14 21:08] bherrmann7 opened #1325 "updateSql"
## Environment

**Liquibase Version**: > 3.8.6

**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**: mysql

**Operating System Type & Version**: ubuntu

## Description

updateSql doesnt handle triggers an/or sql which uses a terminator other than ';' with grace.

## Steps To Reproduce

[2020-08-17 14:14] ggdn commented on #1312
After investigation with my DBAs, we found that after 3.6.3, liquibase executes this query 9 times:
[code]

When the parsing of this query is not in cache, Oracle will find 5 executions plans (18,5 seconds each plan = 1minutes 30 secondes)
When the parsing is in cache, Oracle will use only one and unique execution plan. Results are immediates.

We use a standard edition without any customization

[2020-08-17 14:21] molivasdat commented on #1312
@ggdn Thanks for doing the additional investigation!

[2020-08-17 15:40] molivasdat commented on #1321
Hi @Sam2243 Thanks for taking the time to write up this issue.  What version of Liquibase were you using?  Are you using maven, gradle, springboot, CLI or other mechanism?
What database are you connecting to?

[2020-08-17 15:45] Sam2243 commented on #1321
Hi @molivasdat I am using Liquibase version 3.5.5. I am connecting to mariadb and using tomcat application server

[2020-08-17 15:51] Sam2243 commented on #1321
@molivasdat And yeah using maven

[2020-08-18 14:26] sync-by-unito[bot] opened #1328 "Multiple "closing duplicate stream" entries in liquibase log (level=FINE)."
Every Liquibase operation results in log messages that duplicate streams are closing for the XML changelog, XSDs, and SQL files.

##### Example Log Messages
{CODE}
[2020-08-17 16:44:49] FINE [liquibase.resource] Closing duplicate stream for file:/C:/dev/DaticalDB-testing/liquibase-pro-cli-project/oracle_lbpro_master/communityOnlyChangelog.xml

[2020-08-17 16:44:49] FINE [liquibase.resource] Closin

[2020-08-18 16:04] adaussy opened #1329 "Provide an API to be able to serialize comments in changelog files"
## Environment
**Liquibase Version**: 4.0.0

**Liquibase Integration & Version**: Java API

## Description of feature request
It would be nice to provide an API to serialize comments in the 3 supported formats.

Actually the API only proposes to write ChangeLogChild.
I guess a new special implementation of ChangeLogChild that carries a comment could be added and handled differently in the differen

[2020-08-18 21:22] stevenpaligo opened #1330 "setColumnRemarks incorrectly changes the table comment on MariaDB"
## Environment
**Liquibase Version**: 3.8.0

**Liquibase Integration & Version**: Spring Boot 2.2.2.RELEASE

**Liquibase Extension(s) & Version**: N/A

**Database Vendor & Version**: MariaDB 10.4.7

**Operating System Type & Version**: Debian 10

## Description
When using the `setColumnRemarks` feature with MariaDB, the table comment is altered instead of the column comment.

## Steps To Reproduce

[2020-08-18 21:32] stevenpaligo commented on #1330
I just verified this is not fixed as of 3.10.2

[2020-08-18 21:38] mrgrew opened #1331 "Cannot Use includeAll with changeLogDirectory"
## Environment
**Liquibase Version**:
3.10.2

**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>
maven plugin 3.10.2

**Liquibase Extension(s) & Version**:
N/A

**Database Vendor & Version**:
N/A

**Operating System Type & Version**:
N/A

## Description
The includeAll element cannot be used when changeLogDirectory is specified with the liquibase-maven-p

[2020-08-18 21:51] stevenpaligo commented on #1330
I can't verify whether or not it works in 4.0.0 because I am using Spring Boot and running into issue #1276

[2020-08-18 22:22] MatthewSBarnes commented on #1288
Potentially related: was also having long-running `indexExists` preconditions. As i understand it, liquibase iterates over our many tables and constraints, in a naive manner, hunting for the ones that exist. It was quite slow (though eventually the migration finished).

@molivasdat can you provide context where / why liquibase takes so long to identify whether an indexExists?

For future cases whe

[2020-08-19 06:03] salman-ud opened #1335 "changeSetId & changeSetAuthor tags are not getting recognized by liquibase in rollback while using liquibase formatted sql."
## Environment
**Liquibase Version**: 4.0.0

**Liquibase Integration & Version**: 4.0.0

**Liquibase Extension(s) & Version**:  4.0.0

**Database Vendor & Version**: MSSQL 2016

**Operating System Type & Version**: Windows

## Description
changeSetId & changeSetAuthor tags are not getting recognized by liquibase in rollback while using liquibase formatted sql.
But it is working properly if using x

[2020-08-19 09:13] adaussy commented on #1329
If someone validate the idea I could worlk on PR on that:

The code could look like in liquibase.serializer.core.xml.XMLChangeLogSerializerv:

[code]

[2020-08-19 09:15] adaussy commented on #1329
For the moment I got issues building the project within eclipse (Yes I know the contribution guide suggest using intellij but you known when you are used to a IDE... :) )

If the idea raises any interest and I'm still working on that project that time I would push futher my investigations.

[2020-08-19 15:44] molivasdat commented on #1315
Thanks @szandany for writing up this issue.  We are going to add it to our list of issues to process.

[2020-08-19 15:55] molivasdat commented on #1317
Hi @joeljoejoseph Thanks for writing up this issue.  To re describe your issue.  You have a changelog file that has includeAll in it.
In the directory you have several .sql files or one .sql file?
In that set or single file you have multiple sql statements and if you add a ; it doesn't work and if you do not add a ; it does work?

[2020-08-19 15:59] molivasdat commented on #1321
Thanks @Sam2243 .  We will add this to our list to process.

[2020-08-19 16:20] joeljoejoseph commented on #1317
Hi,
I have only one sql file and only one sql script. It will work with out ; and fail when give ;

create table PERSON (
FNAME varchar(100) not null
);

[2020-08-19 19:50] molivasdat commented on #1325
Thanks @bherrmann7 for writing up this issue.  We will add it to our list to process.

[2020-08-19 21:42] atzawada commented on #1335
Wanted to add this doesn't work in 3.7.0 either, running the following rollback statement:
[code]
Still try's to execute as a custom SQL statement.

[2020-08-20 16:45] jehadnasser commented on #1276
I got the error with this:
[code]
but not anymore using this:
[code]
May someone find this useful.

[2020-08-21 02:41] ali-jrn opened #1338 "DATABASECHANGELOGLOCK table cannot be created on Derby 10.5"
## Environment
**Liquibase Version**:3.10.2

**Liquibase Integration & Version**: CLI

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**: Apache Derby 10.5

**Operating System Type & Version**: Ubuntu 18.04

## Description
Apache Derby 10.5 does not support boolean data type, so it is not possible to create the DATABASECHANGELOGLOCK table which as Boolean data type in it.
So, th

[2020-08-21 16:53] mrgrew opened #1339 "Extraneous Output from liquibase-maven-plugin:4.0.0"
## Environment
**Liquibase Version**:
4.0.0

**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>
maven

**Liquibase Extension(s) & Version**:
N/A

**Database Vendor & Version**:
N/A

**Operating System Type & Version**:
N/A

## Description
Version 4.0.0 of liquibase-maven-plugin displays warnings with Java stack traces. This extra output looks like error

[2020-08-24 09:30] saarchme opened #1340 "Spacing after column in dynamic sql acts a junk character"
## Environment
**Liquibase Version**:

**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**:

**Operating System Type & Version**:

## Description
A clear and concise description of the issue being addressed.

* Describe the actual problematic behavior.
* Ensure private information is r

[2020-08-24 09:44] h00jraq opened #1341 "Liquibase stopped working after upgrading from 3.6.3 to 3.8.7/3.10.2"
## Environment
**Liquibase Version**: 3.8.7 or 3.10.2

**Liquibase Integration & Version**: Our own builder written for IBM i platform together with jt400
IBM Toolbox for Java:
Open Source Software, JTOpen 9.5, codebase 5770-SS1 V7R3M0.00 built=20180111 VB
Supports JDBC version 4.2
Toolbox driver version 11.5

**Liquibase Extension(s) & Version**: No extensions

**Database Vendor & Version**: DB2

[2020-08-24 13:41] roryodonnell commented on #1042
Is it easy enough to correct this issue, ie, revert [this](https://github.com/liquibase/liquibase/commit/e1e328c721ff36341c9c879af459571789f16bb0) change ?  If so, I can create a PR

[2020-08-24 14:17] h00jraq commented on #1341
I think I have found the cause:
I've called liquibase manually from command line, and this is what I've got:
 16:11:51.779 [main] DEBUG liquibase.executor.jvm.JdbcExecutor - Executing with the 'jdbc' executor
16:11:51.779 [main] INFO  liquibase.executor.jvm.JdbcExecutor - SELECT fixpack_num FROM TABLE (sysproc.env_get_inst_info()) as INSTANCEINFO
16:11:51.997 [main] INFO  liquibase.database.core.D

[2020-08-25 09:39] pioneer2k opened #1343 "Liquibase 4.0.0 does not log the SQL-Error in case of an erroneous change set"
## Environment
**Liquibase Version**: 4.0.0

**Liquibase Integration & Version**: Liquibase CDI 4.0.0

**Liquibase Extension(s) & Version**: Liquibase CDI 4.0.0

**Database Vendor & Version**: MySQL 5.7.12

**Operating System Type & Version**: Amazon Linux 2

## Description
We have just upgraded to Liquibase 4.0.0 from 3.10.2 and we are experiencing that Liquibase does not log the SQL-Error-Messag

[2020-08-25 11:47] olegpolukhin opened #1344 "Liquibase 4.0.0 liquibase.exception. There is a problem with the Cyrillic"
## Environment
**Liquibase Version**: Liquibase Community 4.0.0 by Datical

**Liquibase Integration & Version**: CLI

**Database Vendor & Version**: PostgreSQL 12.3

**Operating System Type & Version**: Ubuntu 20.04

## Description
There is a problem with the Cyrillic alphabet. When I try to create a migration, I get an error and replaces Cyrillic characters with characters:? (question symbol). on

[2020-08-25 14:25] deef0000dragon1 opened #1345 "Postgres connection string not printed if connection fails because database does not exist"
## Environment
**Liquibase Version**:
3.5.5

**Database Vendor & Version**:
Postgres:latest (12.4)

**Operating System Type & Version**:
Linux Pop_OS 20.04, Docker 19.03

## Description
Attempting to Debug a connection can be difficult as the connection string is only printed if the database exists.

## Steps To Reproduce
The following docker-compose file (using keycloak as it is where I encounter

[2020-08-25 17:32] robs-nice99 opened #1347 "Liquibase does not enforce case (lowercase) when running changeset"
## Environment
**Liquibase Version**: 3.8.0

**Liquibase Integration & Version**: CLI

**Database Vendor & Version**: Oracle 19.3.0

**Operating System Type & Version**: CentOS 7, running on docker

## Description
I created a changeset (xml format) by using the generateChangeLog command. All column names where lowercase. However, after applying the changeset, all column were created with uppercase

[2020-08-25 18:00] robs-nice99 commented on #1347
This also happens with liquibase sql format, however it works correctly if the columns are quoted. So, I am not sure this is a liquibase issue or not. I am not deleting it right now, since this info can be useful for some one else.

[2020-08-26 11:15] robs-nice99 commented on #1347
This was solved by using `objectQuotingStrategy="QUOTE_ALL_OBJECTS"` in the XML. Apparently this option is not available in Liquibase Formatted SQL.

[2020-08-26 12:52] molivasdat commented on #1329
Hi @adaussy Thanks for your issue request for an enhancement.  If this is something you find valuable, I would say create a PR and we and others can review it.

[2020-08-26 13:39] molivasdat commented on #1330
Hi @stevenpaligo Thanks for writing up this issue.  I believe there is another is that is related or the same.
https://github.com/liquibase/liquibase/issues/1210. Could you take a look and see if this the same?? If so, we'll make sure both mysql and MariaDB get fixed with that one.

[2020-08-26 13:45] molivasdat commented on #1331
Hi @mrgrew .  Thanks for opening up this issue and thanks for the PR associated with it.  We will take a look and see about pulling in the PR to fix the issue as long as it doesn't break other functionality.

[2020-08-27 03:32] molivasdat commented on #1335
Hi @salman-ud .  Thanks for writing up this issue.
`
--liquibase formatted sql
--changeset dhansal:2_sql
alter table changeRollback add id2 int
GO
--rollback changeSetId:1_sql changeSetAuthor:dhansal
`

You are correct in that this is not available in formatted sql.
There is not a way to reference a previous changeset as the rollback script.
You can write a PR to create the enhancement though.

[2020-08-27 03:34] molivasdat commented on #1338
Hi @ali-jrn .  Thanks for writing up this issue.  We will process it and it to our list of issues.  If you have a suggested PR to fix it that will help move the process forward.

[2020-08-27 03:37] molivasdat commented on #1339
Hi @mrgrew Thanks for writing up this issue and providing a code repo test case.  We will add this to our list of issues to process.

[2020-08-27 03:42] molivasdat commented on #1340
Hi @saarchme Thank you for writing up this issue.  Can you add additional information into the description field, like the Liquibase version you are using , how you are using it and a sample testcase that shows the error occuring?
I have added the additional sections needed.

[2020-08-27 03:51] molivasdat commented on #1341
Hi @h00jraq Thanks for writing up this issue.  You are correct in that the code is using a different way to find out the version of DB2 that is being run.  It is related to https://liquibase.jira.com/browse/CORE-3580 where that table does not exist on DB2i or DB2on Z.  We will add it to our list of issues to process.

[2020-08-27 04:28] molivasdat commented on #1341
@h00jraq .  Do you know that command on db2i that returns the version of db2 running?
Looking for something that shows Version Mod and Fixpack.
boolean column types were added in v11.1.1.1 of DB2 LUW but I don't know how to query db2i via a select statement to find version info.

[2020-08-27 04:32] molivasdat commented on #1343
Hi @pioneer2k Thanks for writing up this issue.  Can you create a PR that reverts that change and we can get it added to our list?

[2020-08-27 04:35] molivasdat commented on #1344
Hi @olegpolukhin Thanks for writing up this issue. We will add it to our list of issues to process.

[2020-08-27 04:39] molivasdat commented on #1345
Hi @deef0000dragon1 Thanks for writing up this issue. We will add it to the list of issues that we need to process.

[2020-08-27 04:42] molivasdat commented on #1347
Hi @robs-nice99 Thanks for writing up this issue.  The quoting strategy parameter is only available currently in XML format.
Glad you were able to solve your problem.

[2020-08-27 04:42] #1347 closed

[2020-08-27 09:56] pioneer2k commented on #1343
Hi @molivasdat,
I just created PR 1352 - https://github.com/liquibase/liquibase/pull/1352

[2020-08-27 10:11] kezhevatov opened #1353 "Wrong path in case of relativeToChangelogFile = true and databaseChangeLog has logicalFilePath != PhisicalFilePath"
https://github.com/liquibase/liquibase/blob/99e76caad1c5c0060a030e48853f163c47a4f383/liquibase-core/src/main/java/liquibase/change/core/SQLFileChange.java#L121

Can't find file in case of relativeToChangelogFile = true and databaseChangeLog has logicalFilePath attribute != PhisicalFilePath
In this case getChangeSet().getFilePath() returns logicalFilePath and
inputStream = Scope.getCurrentScope().g

[2020-08-27 10:37] h00jraq commented on #1341
Hi,

Unfortunately, there is no command that allow you to check DB2 version on IBM i(old AS400). Basically, DB2 for i version match the system level/release so for example system version 7.3 is also db2 version. You can check that with sql SELECT * FROM "SYSIBMADM".ENV_SYS_INFO ;Result it (among other columns)
OS_NAME = IBM i
OS_VERSION = 7
OS_RELEASE = 3

In our opinion, it should be enough to us

[2020-08-27 13:41] Treehopper opened #1354 "NPE triggered by liquibase.Scope.getLog"
## Environment
**Liquibase Version**: 4.0.0

## Description
I am getting an NPE when I create a new FileSystemResourceAccessor(rootPath), with the following stack trace:

[code]

Looking at the Liquibase code, I see that SmartMap#get defines its result as a nullable, however, the Scope class does not check for null in this and other places.

## Steps To Reproduce
I'm running tests in my project, u

[2020-08-27 18:45] karuppiah7890 commented on #1345
If this is a good first issue, I could try a shot at it :)

[2020-08-27 19:53] molivasdat commented on #1345
Hi @karuppiah7890  I would say go for it.

[2020-08-27 23:11] molivasdat commented on #1353
Hi @kezhevatov Thanks for writing up this issue. Which version were you using previously?  Which version are you using now that shows the error?

[2020-08-27 23:17] molivasdat commented on #1354
Hi @Treehopper .  Thank you for writing up this issue.  What databases are you connecting to when this error occurs?  You mentioned that you are running tests in your project.  What tests are you running?  We definitely need to make sure we don't have an NPE.  Do you have a suggested fix for this and a PR to go along with that?

[2020-08-27 23:20] molivasdat commented on #1341
Thanks for the feedback.  This probably belongs in the db2i repository as an issue there.

[2020-08-28 01:05] ali-jrn commented on #1338
We use Smallint instead of Boolean in our applications, I know it may be a big change and few people use old Derby these days, but I would be useful for us to have this feature.

[2020-08-28 07:08] kezhevatov commented on #1353
Version with error is 4.0.0. Previously version is 3.8.7, example of code from liquibase.util.StreamUtil.openFromClasspath(...

[2020-08-28 07:10] andrei-ivanov opened #1356 "Allow UUID ARRAY column"
## Environment

**Liquibase Version**: 3.10.2

**Liquibase Integration & Version**: Spring Boot

**Liquibase Extension(s) & Version**: N/A

**Database Vendor & Version**: PostgreSQL 12.3

**Operating System Type & Version**:

Having added a column with type `VARCHAR(255) ARRAY`, which worked fine, I'm now trying to do something similar, with a `UUID ARRAY` column type, but this fails and the colum

[2020-08-28 08:54] Treehopper commented on #1354
Hi @molivasdat . I am connecting to an H2 embedded DB. The tests are JUnit tests, integrating several components in addition to Liquibase.
I agree that an NPE should not occur, but I believe how a potential fix would look like, depends on the question whether liqubase-core should be thread-safe or not, or if the user of the liquibase-core API has to ensure that no concurrent access occurs?
The fac

[2020-08-28 10:45] DeyV opened #1357 "Allow bit column in postgresql"
## Environment
windows 10
**Liquibase Version**:
Liquibase Community 4.0.0 by Datical
 Liquibase at 12:19:55 (version 4.0.0 #19 built at 2020-07-13 19:45+0000)

**Liquibase Extension(s) & Version**:
postgresql-42.2.16.jar

**Database Vendor & Version**:
PostgreSQL 12.4 (Ubuntu 12.4-1.pgdg18.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 7.5.0-3ubuntu1~18.04) 7.5.0, 64-bit

## Description
I

[2020-08-28 18:00] szandany opened #1358 "Rename "DATICAL_SPERRORLOG" table to "LIQUIBASE__SPERRORLOG" when running Liquibase Pro with SQL Plus"
**Liquibase Version**:
3.10.2

**Database Vendor & Version**:
Oracle

## Description
When running and getting an error with Liquibase Pro with SQL Plus, Liquibase creates a table “DATICAL_SPERRORLOG”.
The naming of the table is inconsistent with our product name.  We can potentially call this table "LIQUIBASE__SPERRORLOG".

## Steps To Reproduce
Run a changeSet that has a syntax error with the run

[2020-08-28 19:27] karuppiah7890 commented on #1345
@molivasdat looks like this has to be handled by keycloak codebase because of the way it's coded there - the control comes to liquibase code base only when everything is successful in the connection and that's when control is given to liquibase code where it logs the connection string, but when it fails, it fails well before getting into liquibase related code for postgres

It fails at this line i

[2020-08-28 19:37] karuppiah7890 commented on #1345
I have commented on the keycloak Jira issue too [here](https://issues.redhat.com/browse/KEYCLOAK-15245?focusedCommentId=14415293&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-14415293)

[2020-08-29 15:20] sukhdevkhade opened #1359 "Unexpected error running Liquibase: Backup Server: 4.172.1.4: The value of 'allocated pages threshold' has been set to 40%."
Hi,

I am Currently using Liquibase Community 3.10.2 by Datical on local window machine . Currently i am using Sybase ASE 16.0 server. It's succesfuly connected to sybase but throws error  during sybase backup.

Error:
Unexpected error running Liquibase: Backup Server: 4.172.1.4: The value of 'allocated pages threshold' has been set to 40%.
[Failed SQL: (417201) dump database EQRMS to '/home/ec2-u

[2020-08-30 18:46] algolov opened #1360 "Incorrect parsing of time values in csv files"
## Environment
**Liquibase Version**:
3.8.9
**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>
spring boot
**Liquibase Extension(s) & Version**:

**Database Vendor & Version**:
mysql (mysql-connector-java:8.0.21)
**Operating System Type & Version**:
Ubuntu 20.04.1

## Description
When loading data of type Time from a csv file, it is parsed using SimpleD

[2020-08-31 08:58] sukhdevkhade commented on #1359
Any solution ..

[2020-08-31 13:54] molivasdat commented on #1345
Thanks @karuppiah7890  for the detailed description and where the bug happens to be.  Going to close this as needing to be fixed in keycloak code.  Really appreciate the thorough details on the issue.

[2020-08-31 13:54] #1345 closed

[2020-08-31 17:09] Dr-Nikson commented on #1360
I'm experiencing same issue with timezones && `csv`

[2020-08-31 18:31] nvoxland commented on #1354
Liquibase-core SHOULD be thread-safe. However, the integration points we have are all single-threaded so it's not tested as well as it should be. And, like you say, writing test cases for the multi-threading race conditions is tough....

I think a check for a not-null parent in the protected Scope constructor makes sense. If you could do a PR for that, that would be great.

And, as you find other

[2020-09-01 08:55] niktekusho opened #1363 "CreateProcedure Script with sql file failing on db2"
## Environment

**Liquibase Version**:3.8.0

**Liquibase Integration & Version**: Gradle

**Liquibase Extension(s) & Version**: 2.0.4

**Database Vendor & Version**: DB2 v11.1.4041.600

**Operating System Type & Version**: Windows 10 1909

## Description

Using liquibase to create a procedure with a moderately complex SQL file results in `DB2 SQL Error: SQLCODE=-778, SQLSTATE=428D5, SQLERRMC=@`. T

[2020-09-01 11:37] joliebig commented on #1276
Hi,

I'm experiencing the same issue with the following setup:
liquibase: 4.0.0
spring-boot: 2.3.3.RELEASE
springframework: 5.2.8.RELEASE

[code]

[2020-09-01 11:40] RainerGanss commented on #1276
Same as @joliebig

[2020-09-01 15:14] mironbalcerzak opened #1366 "DateTimeType.java:38 NullPointerException (liquibase 4.0.0)"
## Environment
**Liquibase Version**: 4.0.0

## Description
NPE in DateTimeType in

[code]

## Steps To Reproduce
Generating SQL from changelog for Oracle DB is resulting in NPE

## Actual Behavior
NPE raised

## Expected/Desired Behavior
No NPE :)

## Additional Context
Add any other context about the problem here.

┆Issue is synchronized with this [Jira Bug](https://datical.atlassian.net/browse/

[2020-09-01 17:18] mcred opened #1368 "MacOS: Liquibase installer can't be opened because Apple cannot check it for malicious software."
## Environment
**Liquibase Version**: 4.0.0

**Liquibase Integration & Version**: CLI

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**:

**Operating System Type & Version**: MacOS

## Description
The MacOS Liquibase Installer for 4.0.0 does not work. After the DMG is mounted, executing the Liquibase Installer fails with the message "Liquibase installer can't be opened because

[2020-09-02 15:30] mironbalcerzak opened #1373 "liquibase-maven-plugin : blob/clob missing size when changelog generated from JPA"
## Environment
**Liquibase Version**: 4.0.0

**Liquibase Integration & Version**: maven

**Liquibase Extension(s) & Version**: hibernate5-ext

**Operating System Type & Version**: windows 10

## Description
liquibase maven integration, while set to use ejb with hibernate5-ext, is missing "size" of blobs in generated changelog.

Sample JPA entity for reference

[code]

## Steps To Reproduce
1. Crea

[2020-09-02 15:35] cmayfield opened #1374 "NullPointerException in LoadDataChange"
## Environment
In the process of upgrading from Java 8 to Java 11. This necessitated upgrading our Liquibase version from 3.5.5 due to changes in behavior with URLClassLoader causing FileSystemResourceAccessor to break.

**Liquibase Version**:
3.10.1-4.0.0

**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>
Gradle

**Database Vendor & Version**:
HSQL

*

[2020-09-02 20:57] mironbalcerzak opened #1375 "Liquibase 4.0.0 core - DB2 error - SQLCODE=-542"
## Environment
**Liquibase Version**: 4.0.0

**Liquibase Extension(s) & Version**: hibernate5-ext

**Database Vendor & Version**: DB2 11.1

## Description
Liquibase fails to create unique constraint for DB2, causing error:

[code]

Long story short, the reason for that is one of the columns referenced within constraint is nullable, and constraint should not be created but unique index instead.

Le

[2020-09-02 21:22] atzawada commented on #1335
@molivasdat I may have time to take a look. Can you point me to where in the codebase I could jump in to this issue?

[2020-09-03 04:24] molivasdat commented on #1356
Hi @andrei-ivanov Thanks for creating this issue.  We will add it to our list of issues to process.

[2020-09-03 04:27] molivasdat commented on #1357
Hi @DeyV Thanks for taking the time to write up this issue.  We will add it to the list of issues we are processing.

[2020-09-03 04:42] molivasdat commented on #1358
Thanks @szandany for writing up this issue.  We will add it to the list of issues that we are processing.

[2020-09-03 04:51] molivasdat commented on #1359
Hi @sukhdevkhade Thanks for writing up this issue.  This may belong in the SAP HANA extension.  Have you tried using the extension https://github.com/liquibase/liquibase-hanadb
If not, I think the issue may be better suited there.
Is this a command that can be executed via a jdbc connection or needs a sql type client connection?

[2020-09-03 04:54] molivasdat commented on #1360
Hi @algolov Thanks for taking the time to write up this issue.  We will add it to our list of issues to process.  If you have a suggested code fix for this issue, please submit a PR for the fix.

[2020-09-03 05:00] molivasdat commented on #1363
Hi @niktekusho Thanks for writing up this issue.  We will add it to our list of issues to process.  If you have a suggest fix, please create a PR and submit it.

[2020-09-03 05:04] molivasdat commented on #1366
Hi @mironbalcerzak Thanks for writing up this issue and thanks for submitted a PR to fix it.  We will add this to our list of issues to process and merge as appropriate.

[2020-09-03 05:12] molivasdat commented on #1368
Hi @mcred Thanks for writing up this issue.
@mariochampion Where are the instructions for when this error occurs?

[2020-09-03 05:16] molivasdat commented on #1373
Hi @mironbalcerzak Thanks for writing up this issue.  Can you move this to the [hibernate extension repository](https://github.com/liquibase/liquibase-hibernate) and we can manage it there.

[2020-09-03 05:18] molivasdat commented on #1374
Hi @cmayfield Thanks for writing up this issue.  Do you have a testcase that shows the error so that when we can fix it we know whether it's fixed or not.  If you have the code to fix it can you also create a PR?

[2020-09-03 05:22] molivasdat commented on #1375
Thanks @mironbalcerzak for writing up this issue.  We will add it to the list of issues that we are processing.  If you have a fix for the code you can submit a PR and will process that as well.

[2020-09-03 06:20] sukhdevkhade commented on #1359
Hi @molivasdat

Currently I am using Sybase ASE 16.0.

I have successfully connected to Sybase  DB using current jar.

Some operations are also successful, such as creation tables, databases etc.

But it throwing an error during backup sql statement.

My sql statement is :

--liquibase formatted sql

--changeset bob:3

dump database EQRMS to '/home/ec2-user/EQRMS.dump'
go

please let me know anyth

[2020-09-03 08:47] mironbalcerzak commented on #1373
@molivasdat, sure thing

[2020-09-03 08:48] #1373 closed

[2020-09-03 11:09] Treehopper commented on #1354
I did randomly find two more NPEs in SmartMap and in SqlGeneratorFactory.
Let's merge the above PR for the constructor check before raising new tickets, though.

[2020-09-03 17:27] mariochampion commented on #1368
Hey all,

The issue  is a generic Mac issue in that until an item downloaded from the
Internet has been downloaded X number of times it is not listed a secure
even though we are official macOS developers.

 The workaround is to control click and choose open rather than to just
double click.

On Thu, Sep 3, 2020 at 12:12 AM Mike Olivas <notifications@github.com>
wrote:

--
-----
mario@mariochampion

[2020-09-04 06:16] chas-mafli opened #1378 "executeCommand changeSet fails on >=3.10.1"
## Environment
**Liquibase Version**: >=3.10.1

**Liquibase Integration & Version**: ant

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**: MariaDB 10.3

**Operating System Type & Version**: Debian Stretch

## Description
A changeSet with only a `<executeCommand>` statement fails in >=3.10.1, it works under 3.10.0.

[code]

┆Issue is synchronized with this [Jira Bug](https://da

[2020-09-04 09:03] chas-mafli commented on #1378
Ok this seems to occur in some cases for 3.10.0 too but not 3.9.0. I'm using `<antcall>` in my build.xml and I can avoid this error by specifying `inheritAll="true"` in some cases... but not in all :/ So perhaps it's ant related but can't make any sense of it.

[2020-09-04 11:58] mironbalcerzak commented on #1366
Hi @molivasdat, no - I encountered that error in our environment, I don't have testcase.

[2020-09-04 13:31] molivasdat commented on #1378
Hi @chas-mafli Can you provide your changelog that produces this error?

[2020-09-04 15:17] DanZDatical opened #1381 "Liquibase should notify if ChangeLog has an out-of-date XSD reference"
## Environment
All

**Liquibase Version**:
All

**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>
All

**Liquibase Extension(s) & Version**:
All

**Database Vendor & Version**:
All

**Operating System Type & Version**:
All

## Description
Liquibase should visibly and loudly warn when there is a mismatch between the XSD version in a changelog and the ve

[2020-09-04 18:49] Trigve commented on #1009
The 4.0 version is also affected.

[2020-09-04 21:57] mattbertolini commented on #1378
@chas-mafli Also, can you provide a snippet of the ant configuration for liquibase? I'm looking for how the `<database>` element is configured and how the classpath is set up for the task, but the whole thing would be helpful. I'm curious about the `inheritAll="true"` making it work sometimes. `inheritAll="true"` means Ant is passing all properties to the new ant project being created with `<antca

[2020-09-05 02:49] benwarfield-usds opened #1382 "YAML changelogs with many references cannot be parsed with snakeyaml 1.26"
## Environment
**Liquibase Version**:  3.8.9

**Liquibase Integration & Version**: Spring Boot 2.3.3

**Liquibase Extension(s) & Version**: N/A

**Database Vendor & Version**: hsqldb (but this is not relevant)

**Operating System Type & Version**: MacOS 10.13.6 (also not relevant)

## Description
The current version of snakeyaml has several [configurable security features](https://github.com/asomo

[2020-09-07 14:13] jannic opened #1384 "addPrimaryKey / addUniqueConstraint could support forIndexName on PostgreSQL"
## Environment
**Liquibase Version**: 3.10.2

**Liquibase Integration & Version**: all

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**: postgresql >= 9.1

**Operating System Type & Version**: all

## Description
Since version 9.1, PostgreSQL supports the same USING INDEX syntax when creating a unique constraint as Oracle does.

Therefore, the forIndexName could be supported b

[2020-09-08 07:23] chas-mafli commented on #1378
@molivasdat it just looks like this (some things omitted)

[code]

@mattbertolini the offending part looks like this

[code]

Now I can't seems to reproduce this `inheritAll="true"` thing so perhaps I was just confused. I've had much back and forth with this thing so I'm a little puzzled haha. I'm using `inheritRefs="true"` though just to be clear.

But yeah no I'm not using pro so my thinking it

[2020-09-08 07:37] chas-mafli commented on #1378
Perhaps it has something to do with an `<antcall>` to a target with its own antcalls, i.e. nested antcalls. Because the target that antcalls the update target works fine directly from the ant cli but targets that uses that target with antcall produces this error it seems.

[2020-09-08 13:47] Holly-Marie commented on #1293
Hi. I just had a look this problem and it is a result of my change.
The problem is this actually an expected behavior. (the resolution of the property, not the incorrect checksum)

The _**global: false**_ option was added later, so therefore a property with no setting for global, is implicitly **_global: true_**.

Liquibase until v 3.10.1 did not actually check for global vs local property when ov

[2020-09-08 19:58] mattbertolini commented on #1378
@chas-mafli It may have something to do with `<antcall>` in combination with the usage of the `classpathref` attribute. The `<antcall>` task does not inherit references by default and the `classpathref` is using a reference so it's probably not getting the desired classpath to the `updateDatabase` task. You can inherit references in `<antcall>` by setting the `inheritRefs=true` attribute as well a

[2020-09-09 09:01] Daniel-Bertagnolli opened #1387 ".sql format changelog only executes the first changeset on sqlite database"
## Environment
**Liquibase Version**: 3.10.2 (also happens on 4.0.0)

**Liquibase Integration & Version**: CLI

**Liquibase Extension(s) & Version**:  //

**Database Vendor & Version**: SQLite3 version 3.27.2

**Operating System Type & Version**: debian 10.3

## Description
When executing a changelog file in .sql format, only the first changeset in the file gets executed on the DB

## Steps To Rep

[2020-09-09 10:01] adaussy opened #1388 "Running update that adds a view on Oracle fails with a ORA-00933"
## Environment

**Liquibase Version**: 4.0.0

**Liquibase Integration & Version**: CLI

**Liquibase Extension(s) & Version**:  No extension

**Database Vendor & Version**:

Oracle 18.4

**Operating System Type & Version**:

Linux

## Description

Running an update command that add a view on oracle DB (with flag 'replaceIfExists') fails with an error (see below) whereas is word on a MySQL DB:

[cod

[2020-09-09 10:13] sync-by-unito[bot] opened #1389 "Precondition onFail="WARN" doesn't work properly"
## Environment
Windows 10, Oracle
**Liquibase Version**: version 3.10.2-SNAPSHOT #19
**Liquibase Integration & Version**: CLI

## Description
If you add precondition with attribute onFail="WARN" to your changelog and this precondition fails, liquibase doesn't show WARN message.

## Steps To Reproduce
1. Create changelog for Oracle database with a simple create table changeset and with precondition

[2020-09-09 21:48] mattbertolini commented on #1378
Hmm. Nested `<antcall>`s can be a tricky business. For this to work you will need to set `inheritAll="true"` and `inheritRefs="true"` on each `<antcall>` for the Liquibase task to work (but it sounds like you've done that already).

Since you're not using pro, I'm a bit curious how the pro jar is getting onto the classpath? How exactly are you creating the classpath defined with id `class.path`? C

[2020-09-10 08:22] Daniel-Bertagnolli commented on #1387
I think I might have an update on this bug report. I've kept working and trying to understand what is going on. Starting with trying to replicate my current production DB schema. So I've copied it into a temporary folder, created my `liquibase.properties` file
[code]

and ran `liquibase --changeLogFile=createdFinal.sql generateChangeLog`

which returns me a few BEST PRACTICE lines and an error:
[c

[2020-09-10 15:02] r2liquibase opened #1393 "[PostgreSQL 12] SQL Gen for SERIAL and BIGSERIAL is wrong"
## Environment

**Liquibase Version**: 3.10.2

**Liquibase Integration & Version**: CLI via test-harness

**Liquibase Extension(s) & Version**: na

**Database Vendor & Version**: pg12

**Operating System Type & Version**: windows & docker

## Description

Have a changeset that looks like this:

`    <changeSet id="1" author="r2">
        <createTable tableName="datatypes12_test_table">

[2020-09-10 17:18] vaa25-digis opened #1395 "Liquibase inserts wrong default datetime value into MySql"
## Environment

**Liquibase Version**: 4.0.0

**Liquibase Integration & Version**: spring boot

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**: MySql 8.0.15

**Operating System Type & Version**: Ubuntu 18.04.3

## Description

Fail when try to add column with precisioned CURRENT_TIMESTAMP default value

## Steps To Reproduce
Run this changelog:
[code]
## Actual Behavior

Resu

[2020-09-10 21:24] molivasdat commented on #1382
Hi @benwarfield-usds Thanks for writing up this issue.  We will add this to list we are processing.

[2020-09-10 21:25] molivasdat commented on #1384
Hi @jannic Thanks for bringing this to our attention and writing up the issue.  We will add this to our list of issues to process.  Thanks for pointers in the code.  Do you think you can submit a PR with a fix?

[2020-09-10 21:35] molivasdat commented on #1387
Hi @Daniel-Bertagnolli Thanks for writing up this issue.  From this updated comment it sounds like this is an issue to update the documentation to show that databasetype.sql should be in the name of the changelog file.  Will that fix your issue?

[2020-09-10 22:50] kristyldatical commented on #1009
Hi @molivasdat & @kevin-at-datical  : I read up some more on this issue after @r2liquibase filed a similar issue under https://github.com/liquibase/liquibase/issues/1393. I also think (like some others are mentioning above) that the PR https://github.com/liquibase/liquibase/pull/1010/files does not actually fix this `type = smallserial/serial/bigserial` issue -- i.e. at least not by just returning

[2020-09-11 02:28] molivasdat commented on #1388
Hi @adaussy Thanks for writing up this issue.  We will add it to our list of issues to test and process to see if we can recreate it.  Thanks for the excellent descriptive use case.

[2020-09-11 02:36] molivasdat commented on #1395
Hi @vaa25-digis Thank you for writing up this descriptive issue with great steps to reproduce.  We will add this to our list of issues to process.  In the meantime if you have a fix, please create a PR and we will process that as well.

[2020-09-11 02:41] molivasdat commented on #1368
Closing issue as there is nothing we can do to accelerate the process setup by Apple.  Workaround was provided by @mariochampion above.

[2020-09-11 02:41] #1368 closed

[2020-09-11 06:37] Daniel-Bertagnolli commented on #1387
Hi @molivasdat yes, that'll fix the issue, now with the correct filenames everything seems to run smoothly on my end, both Liquibase 3.10.2 and 4.0.0

[2020-09-11 08:07] ajsobrinomin opened #1398 "Precision INT,BigInt in mysql"
## Environment: WIndows
**Liquibase Version**: 4.0.0

**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**: mysql 8.0

**Operating System Type & Version**:

## Description
I have a problem, I write different precision for bigint or int in mysql, then I execute my changeset and always li

[2020-09-11 09:42] #1271 closed

[2020-09-11 09:44] YuryHrytsuk commented on #1271
Now you can find a relevant section in [docs page](https://docs.liquibase.com/change-types/community/load-data.html)

[2020-09-12 09:15] hjoeren commented on #1242
I've played around a bit and created an extra "CDI extension" that runs on both WildFly and Payara (experimental, without a real test): If you want, you can look at https://gitlab.com/hjoeren/liquibase-cdi-extension

I'd have extended/adapted the project directly in a fork of Liquibase, but I failed to build the project with maven.

[2020-09-12 21:29] jannic commented on #1384
There is an additional complication I didn't anticipate: While PostgreSQL basically uses the same syntax as Oracle, it doesn't allow for both a list of columns and a `USING INDEX ...` specification at the same time. This makes sense as with a given index, the list of columns is already fixed. However, `AddUniqueConstraintGenerator` does always include the list of columns. This fails with PostgreSQ

[2020-09-14 13:52] r2liquibase opened #1401 "[FR] Allow for JDBC driver downloads from Maven Central"
Instead of having users install JDBC drivers outside of Liquibase, have an option to download them from Maven Central. That sort of happens with Maven, but we should have that for the CLI. Maybe a list that's presented to the user and they can select. Then, community can PR when they want to add another one.

[2020-09-15 10:41] roryodonnell commented on #1042
Can we have this fixed please?

[2020-09-15 14:18] robinvandenbogaard opened #1402 "ConcurrentModificationExecption when updating multiple schema's in parallel"
## Environment
Wildfly 20.0.1

**Liquibase Version**: 4.0.0

**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>
maven

**Liquibase Extension(s) & Version**:
hibernate

**Database Vendor & Version**:
postgres

**Operating System Type & Version**:
various

## Description
We're updating multiple schema's in parallel as soon as two threads attempt to start

[2020-09-15 15:01] molivasdat commented on #1042
Hi @roryodonnell We may need a different way of fixing this since, reverting back to the old way would also break other users that depend on replaceIfExists creating a "**create or replace**" string VS a drop and create new. So it would not be as easy as creating a PR that reverts the change and they now depend on 'Other view properties, including ownership, permissions, and non-SELECT rules, rema

[2020-09-16 15:17] pirocraft commented on #1395
Hi @vaa25-digis, can you simply use
`<column name="created_at" type="DATETIME(3)" defaultValueDate="NOW(3)">`
instead of
`<column name="created_at" type="DATETIME(3)" defaultValueDate="CURRENT_TIMESTAMP(3)">`
?

[2020-09-17 06:26] chas-mafli commented on #1378
I just download the jar here from github and put it on my classpath so there's nothing weird on it really.

I did some more tests and now it seems like on 3.10.0 it fails in this way with nested antcalls but on >=3.10.1 it fails even if the antcalls aren't nested.

[2020-09-17 06:55] wardvijf opened #1411 "DropAll doesn't work anymore on DB2 for i"
## Environment
**Liquibase Version**: 4.0.0

**Database Vendor & Version**: DB2 for i (AS400 iSeries)

## Description
When dropping all tables, Liquibase tries to lookup foreign key constraints. It executes a database specific query to do this.
It has a specific query for DB2, but this only works for DB2 UDB, and not for DB2 for i.

## Steps To Reproduce
List the steps to reproduce the behavior.
E

[2020-09-17 07:06] chas-mafli commented on #1378
Ok so I ran Java 8 before and now I tested on 11 and it fails with unnested and nested calls on 3.10.0 and on >=3.10.1 it works with unnested calls but fails with nested... the other way around that is :/

[2020-09-17 16:53] olegpolukhin commented on #1344
Hello. This problem is check?

[2020-09-17 18:57] dekar91 commented on #1276
I have the same problem. I've checked version 3.10.2 - everything is ok, but **4.0.0** fails with "Cannot create filesystem for url jar" on every **liquibaseRuntime** dependency.

There is the config, what fails:
[code]

[2020-09-18 02:14] mattbertolini commented on #1378
Thanks for this info! It's helped me learn a bit more. I've downloaded the same jar you did and examined its contents. I found the pro classes contained in the jar. I had no idea they were there so I definitely learned something.

Here's what I've figured out about the error:

[code]

When I look at the `ExecuteShellComamndChange` class I can clearly see it's designed to be subclassed and that is

[2020-09-18 06:18] chas-mafli commented on #1378
@mattbertolini ah so you could reproduce it yourself at least!

The "sometimes works" was before I saw this antcall pattern and the fact that 3.9.0, 3.10.0 and >=3.10.1 all behaved differently which of course added to the confusion.

[2020-09-18 12:35] molivasdat commented on #1378
@mattbertolini and @chas-mafli I am just as puzzled on the intermittent differences.  I'll check internally with the folks that have access to Pro and see what I can find.  May be next week until I can get back to it.

[2020-09-18 13:21] mattbertolini commented on #1378
I'm not sure but I might I'm on to something. I spent some more time investigating last night and I do see a discrepancy on how the Ant tasks create the `DatabaseConnection` and how other integrations do (like the CLI).

The Ant tasks create the `JdbcConnection` manually via the `DatabaseFactory.findCorrectDatabaseImplementation()` method passing an already created `JdbcConnection` object. In othe

[2020-09-18 13:49] szandany opened #1416 "liquibase.sqlplus.path line in liquibase/examples/xml/liquibase.sqlplus.conf should be commented out"
## Environment
Win, Unix
**Liquibase Version**:
3.10.2, 4.0.0
**Liquibase Integration & Version**: CLI

## Description
In the liquibase install folder the file liquibase/examples/xml/liquibase.sqlplus.conf contains a the line: "liquibase.sqlplus.path=/apps/app/12.2.0.1.0/oracle/product/12.2.0.1.0/client_1/bin/sqlplus" should be commented out to avoid getting an error indicating that sqlplus cannot

[2020-09-21 11:32] molivasdat commented on #1378
Hi @chas-mafli
One of our developers took a look at this and used this as an example and worked for him.
[code]
Would this work for you?

[2020-09-21 18:50] xenoterracide opened #1420 "sql formatted changesets with preconditions and rollbacks outside the comments"
to enhance readability in sql formatted changelogs in IDE's

[code]

[2020-09-23 01:09] ari opened #1426 "IncludeAll documentation mysterious"
Documentation here https://docs.liquibase.com/concepts/advanced/includeall.html suggests that include all will fail in mysterious ways when used like Rails with one changeset per file.

If includeAll is deprecated, then it should be marked as such. If it doesn't work in some situations, then this needs to be explained with less mystery. I'm not sure what danger I'm supposed to be avoiding here.

┆

[2020-09-23 01:35] mattbertolini commented on #1378
Following up on my comment from few days ago. I'm thinking the exception was intermittent because of race condition loading data in the `DatabaseFactory` and `ConnectionServiceFactory`. I no longer think it has to do with `<antcall>` issues since I can sometimes cause the issue in my debugger.

I have opened a PR (#1427) to change the Ant tasks to properly leverage the `DatabaseFactory` like the o

[2020-09-23 02:51] dazuimao1990 opened #1428 "Can I config my liquibase.properties with envionment variables"
## Environment
**Liquibase Version**:
4.0.0
**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>
docker
**Liquibase Extension(s) & Version**:

**Database Vendor & Version**:

**Operating System Type & Version**:

## Description
This is not a bug,But I don't know where to ask.

I wrote down the specific problem here

https://github.com/liquibase/docker/iss

[2020-09-23 14:34] TautvydasCerniauskas commented on #1251
@molivasdat is there are update on this issue?
We are currently trying to migrate from **version:3.6.3** to **version:4.0.0** and encountered this exact issue. Most of our files contain empty fields which worked on the earlier version but is now breaking in the newest one.

[2020-09-23 15:43] molivasdat commented on #1398
Hi @ajsobrinomin
Thanks for submitting your issue.  Can you add a sample changeset that is failing to the description section? and the expected behavior?

[2020-09-23 16:05] KushnirykOleh opened #1429 "createSequence for PostgreSQL <10 doesn't work because [AS] syntax is not supported"
## Environment
**Liquibase Version**: 4.0.0

**Liquibase Integration & Version**: maven

**Database Vendor & Version**: postgresql 9 running in docker container from dockerHub

**Operating System Type & Version**: macOS Catalina 10.15.6

## Description
for createSequence with xml changeLog file Liquibase uses [AS] syntax when generating SQL. This is not supported by PostgreSQL prior to 10th versio

[2020-09-24 02:25] kristyldatical commented on #1429
FYI @r2liquibase, this is another bug that was surfaced by the test-harness

[2020-09-24 05:36] ajsobrinomin commented on #1398
Of Course, I attach in this comment a example of changeset.

<changeSet author="ajsobrino" id="V3.0.0-table-7">
		<createTable
			remarks="This entity saves the history of a questionnaire."
			tableName="DAT_QUESTIONNAIRE_HISTORY"
			tablespace ="${tablespaceTable}">
			<column name="IDX_ID" remarks="Primary key" type="BIGINT(9)">
				<constraints nullable="false" primaryKey="true"
					primaryKey

[2020-09-24 09:30] chas-mafli commented on #1378
@molivasdat tried that example and it works fine with 3.9.0 but gets the same cast exception on 3.10.2 like before.

@mattbertolini doesn't seem like a race condition to me seeing as I could reproduce it without fail again with @molivasdat example? Though it sounds like your PR there should fix it I guess. Don't think I have time to test it though (well compile it and all that jazz that is).

[2020-09-24 12:17] Treehopper commented on #1354
Seems like one of the issues I have encountered has been fixed in the scope of this ticket: https://github.com/liquibase/liquibase/issues/1402

[2020-09-24 15:40] molivasdat commented on #1251
Hi @TautvydasCerniauskas We are still working the list of issues to what can be done to address this issue, whether it was a result of another fix or just a change in how Liquibase processes empty data fields.

[2020-09-25 03:16] szandany opened #1432 "Status does not throw an error if 2 or more IDENTICAL changeSets exist in the same changeLog"
## Environment
**Liquibase Version**: 3.6.0, 3.6.2, 3.6.2, 3.7.0, 3.8.0, 3.8.1, 3.8.4, 3.8.7, 3.10.2, 4.0.0

**Liquibase Integration & Version**: CLI

**Database Vendor & Version**: Oracle, MySQL, PostgreSQL, SQL Server.

**Operating System Type & Version**: Windows, Linux, MacOS

## Description
1. If there are two or more identical changeSets in the same changeLog, then the first changeSet will b

[2020-09-25 03:18] molivasdat commented on #1411
Hi @wardvijf Thanks for creating this issue and the PR to fix it.  This may belong in the [db2i extension issues page](https://github.com/liquibase/liquibase-db2i/issues)

[2020-09-25 03:21] molivasdat commented on #1402
Thanks @robinvandenbogaard for submitting this issue and the PR to fix it.  We will add it to our queue of issues to review.

[2020-09-25 03:24] molivasdat commented on #1420
Hi @xenoterracide Thanks for writing this up.  Can you provide a little more details in terms of what you are looking for in this issue?  What version of Liquibase are you using?  Against what database?  What is the current behavior and what is the expected behavior?  If you use the template it will help us understand what is needed.

[2020-09-25 03:29] molivasdat commented on #1426
Hi @ari Thanks for alerting us to this issue.  You can create an issue on our docs site and even make a PR and update the docs yourself there.  Please open an issue [here](https://github.com/Datical/liquibase-docs) instead.

[2020-09-25 03:29] #1426 closed

[2020-09-25 03:36] molivasdat commented on #1428
Hi @dazuimao1990 Thanks for asking the question.  There is a feature request to do that in  #1179 that has not been addressed yet.  Please add your vote to that one.

[2020-09-25 03:36] #1428 closed

[2020-09-25 04:03] molivasdat commented on #1429
Hi @KushnirykOleh Thanks for writing up this issue.  Since 9.5 and 9.6 are the only versions of 9 currently supported by Postgres this would apply to those versions only at this time.
Code change required here in CreateSequenceGenerator
[code]

[2020-09-25 06:30] dtrouillet commented on #1276
Same error with Liquibase 4.0.0 and Spring Boot 2.3.1 (in same jar package).

[2020-09-25 09:59] wardvijf commented on #1411
Hi @molivasdat, the bug is situated in the Liquibase core, that's why I created the issue here.
I am a bit confused now, do you expect me to change something?

[2020-09-25 15:14] xenoterracide commented on #1420
... I'm currently using liquibase 4... but this affects every version of liquibase... database doesn't matter because this would affect every database... current behavior is... it doesn't have this feature.... this is not a bug it's a feature request...

I don't really know what additional information you're looking for, that makes any sense in a feature request.

[2020-09-26 13:25] molivasdat commented on #1023
Hi @uqix Is this still an issue.  If so, can you please update the description section with the updates requested?  If not, I will close it because liquibase should not substitute if you have not set a substitution variable.

[2020-09-26 13:30] molivasdat commented on #1028
Hi @jong82 Does the option provided by @MaxAller work for you?

[2020-09-26 13:36] molivasdat commented on #1030
Hi @antonalechnovic As @ro-rah stated.  Because of the issues with the paths of how springboot, cli and others created the path in the changelogtable, we have fixed most if not all of those path issues in 4.x.  Can you try this with Liquibase 4.x?

[2020-09-26 14:21] molivasdat commented on #1100
Hi @mariochampion and @szandany .  Where did this one end up?

[2020-09-26 14:23] molivasdat commented on #1102
Hi @nvoxland Gentle reminder on this one.

[2020-09-26 14:29] molivasdat commented on #1113
Hi @mariochampion Where did this one end up?

[2020-09-27 08:10] steinarb commented on #1254
I see this problem as well and what I see is very strange:

1. I first saw the problem in 3.10.1 (which was the first release since 3.8.0 that was a valid OSGi bundle)
2. On July 26 2020 I built the head of the 3.10.x branch as 3.10.2-local-SNAPSHOT
3. When I tried 3.10.2-local-SNAPSHOT in one of my applications I did not get the ".NoClassDefFoundError: javax/activation/DataSource" error
4. The MA

[2020-09-27 08:48] steinarb commented on #1254
The stack trace fails here: https://github.com/liquibase/liquibase/blob/3.10.x/liquibase-core/src/main/java/liquibase/osgi/OSGiPackageScanClassResolver.java#L39

The reason it fails is that the result from BundleWiring.listResources() contains javax.activation.DataSource

There are no javax.activation.DataSource class files in either the release bundles or the snapshot bundles.

Also, if javax.act

[2020-09-27 09:04] steinarb commented on #1254
Another interesting thing: the exception that is thrown, is NoClassDefFoundError and not ClassNotFoundException (which is the obvious one) and is caught and logged here: https://github.com/liquibase/liquibase/blob/3.10.x/liquibase-core/src/main/java/liquibase/osgi/OSGiPackageScanClassResolver.java#L44

What's the difference between NoClassDefFoundError and ClassNotFoundException?
Google tells me N

[2020-09-27 09:38] steinarb commented on #1254
I've created a PR for adding a catch and log of NoClassDefinitionError: https://github.com/liquibase/liquibase/pull/1435

[2020-09-27 16:12] steinarb commented on #1254
It suddenly struck me what might be different: I'm building with and running on Java 11, and the release is (most probably) made with Java 1.8.

I think javax.activation is one of the packages that was moved out in java9...? (or later...? At least it's gone in java 11)
So a reference to javax.activation when buildign may be the cause of the problem, if so there are three possible ways of fixing th

[2020-09-28 10:57] jglink opened #1436 "includeAll not working with Liquibase 4.0.0"
Starting with Liquibase 4.0.0, the includeAll definition in a change log file doesn´t work anymore if the referenced files are placed in a JAR file.
It´s working fine, if the files can be referenced from a target folder during development but not when the changesets should be accessed from JAR.

For details, see also https://forum.liquibase.org/t/includeall-with-v4-0-0/4655
Text from forum update

[2020-09-28 15:46] molivasdat commented on #1295
Merged in

[2020-09-28 15:46] #1295 closed

[2020-09-28 19:00] #1181 closed

[2020-09-29 00:23] alan-czajkowski commented on #1276
i get this error when running: `mvn liquibase:generateChangeLog`

**pom.xml**:
[code]

[2020-09-29 07:33] dtrouillet commented on #1276
Unfortunately, same issue with liquibase 4.1.0

[2020-09-29 11:00] kuhjunge opened #1438 "XML Export adds ',xxx' instead of ','"
## Environment
**Liquibase Version**:  4.1

**Liquibase Integration & Version**: gradle

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**: any

**Operating System Type & Version**: Win10, Java8

## Description
If you add two dbms to a changeset, it seperates them with ',xxx' instead of ','. Therefore the second dbms will not be correctly recognized.

 `<changeSet  dbms="oracle,

[2020-09-29 12:38] krusche commented on #1276
We would appreciate if this bug could be fixed asap! Let us know if we can somehow help

[2020-09-29 18:16] XSwifter commented on #1276
Still reproduces on 4.1.0 version

[2020-09-29 18:19] DanielFran commented on #1276
I confirm, it still happens

[2020-09-29 19:03] nfalco79 commented on #1105
This is our implementation using the liquibase naming strategy distributed as liquibase extension jar:
[code]

[2020-09-29 19:21] nvoxland commented on #1251
This has been fixed by PR #1431

[2020-09-29 19:21] #1251 closed

[2020-09-29 19:40] nvoxland commented on #1105
An alternate approach that would work with the current liquibase version is specifying your changeset like this:

[code]

That will add the EXCLUDE NULL KEYS to db2 and not anywhere else.

There is an ongoing discussion on how and when to include database-specific parameters into the change functions. I'd like to include this as part of that discussion before just bringing it in.

[2020-09-29 19:42] nfalco79 commented on #1105
the point is that `<addUniqueConstraint tableName="table1" columnNames="col1, col2" ... />` will fails because col2 is not nullable

[2020-09-29 20:33] nvoxland commented on #1276
Thanks, I'll take a look at it

[2020-09-29 22:14] suilven commented on #1083
@molivasdat I'm happy to work on this issue.

[2020-09-30 01:11] molivasdat commented on #1135
Closing as closed in 3.10.3 and 4.1

[2020-09-30 01:11] #1135 closed

[2020-09-30 05:33] fs5 opened #1439 "Schema/Catalog should be quoted if it is a reserved word"
## Environment

**Liquibase Version**: 3.8.8

**Liquibase Integration & Version**: CLI

**Liquibase Extension(s) & Version**: n/a

**Database Vendor & Version**: Oracle XE

**Operating System Type & Version**:

## Description

Schema/Catalog should be quoted if it is a reserved word

## Steps To Reproduce

1. Create a DB user using a reserved word such as "AS".
2. Run `liquibase update`

## Actual

[2020-09-30 14:28] alan-czajkowski opened #1442 "Liquibase Maven plugin configuration does not work inside execution declaration"
## Environment
**Liquibase Version**: 3.10.2 (but probably affects 4.x.x. as well)

**Liquibase Integration & Version**: Maven 3.6.3

[code]

## Description
The plugin `<configuration>` declaration works outside of an `<execution>` declaration, but not inside.

## Steps To Reproduce
Define Liquibase Maven plugin inside project.

This works:

[code]

This does _not_ work:

[code]

## Actual Behavio

[2020-09-30 18:54] ro-rah commented on #1436
@nvoxland, @mariochampion  and @molivasdat, is this change in behavior intentional from 3.x to 4.x?

[2020-09-30 21:01] gonzalowtf opened #1444 "IncludeAll missing important things when executing with jdbc"
Hello , I'm using liquibase in a spring boot project , and trying to run scripts with the includeAll option works fine , but there are couple of things that i think it will make it much better :

1.  When you want to check a status of a database before running some sctipr , you may want to run a select "first" and then after the script execution run another select "Before" for example in the same

[2020-10-01 02:44] alan-czajkowski commented on #1442
closing this issue as I was running `mvn liquibase:generateChangeLog` which explains why the inner `<configuration>` (inside the `<execution>` element) was not being captured on the command-line

[2020-10-01 02:44] #1442 closed

[2020-10-01 13:45] molivasdat commented on #1438
Hi @kuhjunge Thanks for taking the time to write up this issue.  And the detailed reproduction steps are definitely helpful.  We will add it to our list of issues to process.

[2020-10-01 13:49] molivasdat commented on #1436
@ro-rah This change is not intentional.
@jglink Thanks for writing up this issue.  We will add it to our list of issues to process.  This may be a duplicate of the fat jar issue. I'll find the issue number.

[2020-10-01 14:22] molivasdat commented on #1439
Hi @fs5 Thanks for writing up this issue.
Did you trying adding quoting strategy to your changelog or changeset for the object?
Using either QUOTE_ALL_OBJECTS or QUOTE_ONLY_RESERVED_WORDS
For instance:
[code]
I took this example from our integration tests
https://github.com/liquibase/liquibase/blob/master/liquibase-integration-tests/src/test/resources/changelogs/common/object.quoting.strategy.chan

[2020-10-01 14:45] molivasdat commented on #1444
Hi @gonzalowtf There are attributes called preconditions that may meet your needs.
[https://docs.liquibase.com/concepts/advanced/preconditions.html](https://docs.liquibase.com/concepts/advanced/preconditions.html)
For the second question, can you elaborate a little more?
If I understand correctly, you want to have an includeAll changeset that runs no matter what errors occur in the scripts?
This m

[2020-10-01 18:16] matejsp opened #1445 "There is encoding problem with latest 4.x.x liquibase"
## Environment

**Liquibase Version**:
4.1.0 -> FAIL
4.0.0 -> FAIL
3.10.2 -> WORKS
3.8.0 -> WORKS

**Liquibase Integration & Version**: Maven

**Database Vendor & Version**: MariaDB

**Operating System Type & Version**: Linux

## Description

When upgrading from 3.8.0 to 4.1.0 we are getting:
`
Caused by: liquibase.exception.DatabaseException: (conn=60) Incorrect string value: '\xEF\xBF\xBD\xEF\xB

[2020-10-01 18:35] fs5 commented on #1439
The quoting strategy might work, but this is a special case as I am talking about the `DATABASECHANGELOGLOCK` table. There is no explicit changeset to create this table. It will be set up internally by Liquibase.

[2020-10-01 18:42] p1729 commented on #1438
@molivasdat I would like to contribute on this

[2020-10-01 19:01] molivasdat commented on #1438
@p1729 Excellent.  I have assigned it to you to create a PR.  Thanks for the help.

[2020-10-01 19:19] molivasdat opened #1446 "Batch mode for Postgres fails integration tests"
## Environment
**Liquibase Version**:3.10.3

**Liquibase Integration & Version**: All

**Liquibase Extension(s) & Version**: NA

**Database Vendor & Version**:PostgreSQL

**Operating System Type & Version**:NA

## Description
PostgreSQL Integration tests are failing with this changeset

[code]

## Steps To Reproduce
Run the PostgreSQLIntegrationTest class on the build and 11 of 28 tests fail

## A

[2020-10-01 20:54] molivasdat commented on #1446
Merged

[2020-10-01 20:54] #1446 closed

[2020-10-01 21:15] nvoxland commented on #1276
I ended up rewriting the SpringResourceAccessor in 4.1.x to use Spring's resource loader more directly.

Could anyone try the current 4.1.x branch code against their environment and make sure it's working for you?

[2020-10-01 22:56] molivasdat commented on #1439
Another alternative would be to move the tracking tables out of the reserved keyword schema name using something like the following
The DATABASECHANGELOG tracking table will be created in the "user” schema but this can be changed when setting the --liquibaseSchemaName="TRACKING_SCHEMA_NAME" during runtime OR liquibaseSchemaName: TRACKING_SCHEMA_NAME in the liquibase.properties file.
Would that als

[2020-10-02 05:39] malathit commented on #1416
Please check the PR #1448 and see if the changes are okay.

[2020-10-02 06:57] matejsp commented on #1445
I checked default chartset on this linux (jenkins agent):
[code]

I don't think that liquibase should use system encoding for changelog file that are bundled in a jar.
Before 4.x it was UTF-8 by default.

[2020-10-02 06:59] RainerGanss commented on #1276
thx, will have a look early next week.

[2020-10-02 09:44] pmancaux opened #1449 "Too many open file on spring application start"
## Environment
**Liquibase Version**:
4.0.0

**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>
Spring

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**:
Postgres 12

**Operating System Type & Version**:
Ubuntu 18.04 or linux with kernel 3.10.0-862.14.4.el7.x86_64

## Description
When i upgrade from 3.8.1 to 4.0.0 i see Too many open

[2020-10-02 11:02] stoffel2107 commented on #1311
Hey,

I ran into the same problem using SpringBoot and Liquibase.

The problem here is that the spring-boot shutdown hook that would allow a graceful shutdown (unregistering beans) is added AFTER liquibase has finished...

In simpler words: During the liquibase run, there are only kills... No graceful terminations.

I currently can work around this by simply registering a manual Shutdown Hook befo

[2020-10-02 12:49] pmancaux commented on #1171
@molivasdat hello, sorry for time to respond,

to complete my issue :

After debugging few hours. Slowness seems to be related to ColumnSnapshotGeneratorPostgres  which is applied even when we are checking index presence.

ColumnSnapshotGeneratorPostgres overrides the getPriority method in charge of returning if generator should be used.  There is no control to check if the object type we want to

[2020-10-02 19:40] tillias opened #1451 "liquibase dropAll error drop pg_stat_statements"
## Environment

**Liquibase Version**:
3.9.0

**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>
liquibase-maven-plugin:3.9.0

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**:
PostgreSQL 11.5 (Ubuntu 11.5-3.pgdg18.04+1) on x86_64-pc-linux-gnu, compiled by gcc (Ubuntu 7.4.0-1ubuntu1~18.04.1) 7.4.0, 64-bit provided by elephantsql.com

[2020-10-02 19:41] tillias commented on #1451
Please note that there may be other objects after pg_stat_statements. Is there any possibility to exclude pg_stat_statements for dropAll?

[2020-10-02 21:46] zhoujia1974 commented on #1402
@robinvandenbogaard I'm the one report the same bug in the forum. Thank you for helping to fix the bug. Could you please help to submit a PR against 3.10.x branch?

[2020-10-04 04:27] raulsoledispa commented on #1375
@molivasdat Do can You to assign me for to contribute in resolve issue?

[2020-10-04 07:57] cairngorm commented on #1083
Unable to reproduce using Liquibase `3.10.2`.

[2020-10-04 08:06] suilven commented on #1083
Unable to reproduce using Liquibase `3.10.2`.

[2020-10-05 08:36] kuhjunge opened #1452 "'afterColumn' and 'position' not working in Firebird and Oracle databases"
## Environment
**Liquibase Version**: 3.8.5 - 4.1

**Liquibase Integration & Version**: gradle

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**: firebird 2.5, oracle

**Operating System Type & Version**: win 10 java 8

## Description
The 'addColumn' tag supports 'afterColumn' and 'position', but these tags are ignored in the SQL generation in Firebird and Oracle ( https://docs

[2020-10-05 08:38] matejsp commented on #1276
We have the same problem with 4.1.0. However it does not happen in all microservices that we use liquibase. It happens in one where we use XML changelog format. In other with YAML it does not. We reverted back to 3.10.2.

[2020-10-05 14:54] molivasdat commented on #1311
Hi @nvoxland @mariochampion. Do you have any suggestions for @stoffel2107? Also @stoffel2107  can you give more perspective on why you needing to stop an update midway through the application startup so that we can give better advice?

[2020-10-05 14:58] molivasdat commented on #1171
Hi @pmancaux Thanks for pointing to the code that is the problem in your case?  Do you have a simple testcase that shows the problem?  What command are you running when this is happening?

[2020-10-05 15:55] nvoxland commented on #1218
I'm not able to reproduce this anymore in the current 4.1.x branch. I'm thinking this got fixed earlier?

[2020-10-05 16:13] bayetovsky commented on #1311
I believe the point isn't that you "need" to stop an update midway through the application start intentionally. The case we ran into when I raised it into stackoverflow was in situation in which running a service with Liquibase in a platform such as AWS can lead you to situation in which the startup time exceeds the expected startup time and the container will be terminated as being unhealthy - th

[2020-10-05 16:17] nvoxland commented on #1311
Yes, that is a limitation of the current databasechangeloglock setup. We use a record saved to that table to prevent concurrent attempts to do a liquibase update, but there is no database-standard way of saying "undo this commit when my connection is closed". This is normally fine, except when the VM exists during an update like you see. Then it gets stuck. The rise of AWS-style "kill the process

[2020-10-05 16:23] bayetovsky commented on #1311
@nvoxland It may still be worth having a go at the suggestion/idea around using Shutdown hooks provided as the mentioned "AWS-style"  still sends signals that could be handled (if i'm not mistaken it's not a SIGKILL that is issued to the process).

That in theory could allow for some reaction to the unexpected closure and release of the lock mechanism in databasechangeloglock.

[2020-10-05 16:41] molivasdat commented on #1375
I have assigned you to fix this issue @raulsoledispa

[2020-10-05 16:53] raulsoledispa commented on #1375
@molivasdat Thank.
Can you  update the label from **_Hacktoberfest_** to **_hacktoberfest_**?

[2020-10-05 17:43] molivasdat commented on #1083
Hi @suilven thanks for checking into this.  @denarced Can you reproduce this with v3.10.2?  Also what version did your issue occur on?

[2020-10-05 17:46] molivasdat commented on #1375
Hi @raulsoledispa . Updated.

[2020-10-05 18:58] raulsoledispa commented on #1375
@molivasdat Thank

[2020-10-05 19:01] molivasdat commented on #1311
Hi @bayetovsky Thanks for the use case.  This is exactly the type of information that I was looking to have in the issue statement.

[2020-10-05 19:02] denarced commented on #1083
Hi @molivasdat. I cannot reproduce the issue with version 3.10.2. Originally the issue occurred with version 3.8.8.

[2020-10-05 19:03] molivasdat commented on #1083
@denarced Thanks for validating this.
Closing issue as fixed in 3.10+

[2020-10-05 19:03] #1083 closed

[2020-10-05 19:12] nvoxland opened #1453 "Improve LockService functionality and flexibility"
## Description

Because concurrent update/rollback/etc. operations to a database will interfere with each other, Liquibase has a [LockService](https://github.com/liquibase/liquibase/blob/master/liquibase-core/src/main/java/liquibase/lockservice/LockService.java) which we use to coordinate access so only one instance can run against a database at time.

Examples of when you can run into concurrency

[2020-10-06 01:00] tkelley-eg commented on #1031
I pulled the list from here - https://github.com/liquibase/liquibase/blob/c1da5382e6da97715c802d48edaed2399b574d0c/liquibase-core/src/main/java/liquibase/database/core/DerbyDatabase.java#L33

Then I pulled the Derby reserved keywords from here - http://db.apache.org/derby/docs/10.15/ref/rrefkeywords29722.html

It looks like there's a rather large disparity.

[derby_keyword.diff.txt](https://github

[2020-10-06 06:53] stoffel2107 commented on #1311
Hey, @bayetovsky's case is similar to mine.

I deploy my applications using Chef and a handmade tool.. During deployment, it gets restarted twice with a SIGTERM.

My workaround is basically just waiting for liquibase to finish.. In easier terms => I could simply make a `join` on the main thread in this shutdown hook, this would cause the shutdown to wait for SpringBoot to initialize.. After spring

[2020-10-06 10:27] smcveigh941 commented on #1006
I may have a look at this soon but parking for now..

[2020-10-06 10:56] stoffel2107 commented on #1453
Well, the Max lock time is not a solid enough IMO.
Even though unlikely it'll always be possible to create changelogs that validly exceed that time limit and would therefore break. (Even if the time is on 1+ days theoretically it's still possible however unlikely)

BYO Locking => Well it's error-prone since the user has to manually configure this and it's very specific. Maybe a nice to have?

Data

[2020-10-06 18:52] r2liquibase opened #1454 "[PostgreSQL] Support ENUM object"
## Environment

**Liquibase Version**: 4.1

**Liquibase Integration & Version**:  CLI

**Liquibase Extension(s) & Version**: N/A

**Database Vendor & Version**: PostgreSQL 12

**Operating System Type & Version**: Docker

## Description

https://www.postgresql.org/docs/12/datatype-enum.html

CREATE TYPE mood AS ENUM ('sad', 'ok', 'happy');

[2020-10-06 18:53] #1454 closed

[2020-10-06 18:53] r2liquibase commented on #1454
this is a dupe of https://github.com/liquibase/liquibase/issues/1126, sort off. used ENUM as an example for type, but we should do both as part of 1126.

[2020-10-06 19:31] #1255 closed

[2020-10-06 19:32] #1158 closed

[2020-10-06 21:07] suilven commented on #1042
@molivasdat, @roryodonnell I've been thinking about how we can satisfy both requirements here, namely

1. Replacing a view in Postgres when the column names or data types change.
2. Maintaining the existing _create or replace_ behaviour when the column names are in the same order and have the same data types.

In the first case I propose adding a new attribute called _dropIfExists_ to the _createV

[2020-10-07 03:08] molivasdat commented on #1042
Hi @suilven It looks like a good option to me.  They will need to be mutually exclusive options and will need to agree on default behavior if someone accidentally uses both or figure out a way to not allow both.

[2020-10-07 06:09] tandr opened #1455 "ExecutorService is not threadsafe - getExecutor can be called concurrently"
We are getting hit by the same issue this thread https://forum.liquibase.org/t/liuibase-executor-executorservice-is-not-threadsafe/4472 is describing, albeit only in flooding tests.

The line https://github.com/liquibase/liquibase/blob/4cd5bcb57e6963b9b18632d2b64bac9c33eb1e95/liquibase-core/src/main/java/liquibase/executor/ExecutorService.java#L15
should be using `ConcurrentHashMap<>`

We get cras

[2020-10-07 07:16] pmancaux commented on #1171
@molivasdat hello, i m in spring application, i will try to create a simple test case to reproduce the comportment and i send you this rapidly. My test case look like this:
-create a postgres db with schema
-create many table (100 tables)
-create liquibase script with many not condition
-try this in 3.5.5 to see that script is executed rapidly
-try same scenari in 3.6.0+ to see that script is exec

[2020-10-07 08:50] iignateva opened #1458 "Liquibase 4.x.x endDelimiter doesn't work"
## Environment
**Liquibase Version**: 4.1.0

**Liquibase Integration & Version**: spring boot

**Database Vendor & Version**: oracle

## Description
I tried to migrate on v4.1.0 (from 3.10.1) and got an error on <sqlFile> changeSet execution:

 Reason: liquibase.exception.DatabaseException: ORA-01735: invalid ALTER TABLE option
 [Failed SQL: (1735) alter table TABLE_ONE add field_one   number null

[2020-10-07 10:27] daniel-alonso-sanchez commented on #1298
Hi @molivasdat , sorry for not answering since your last response. I did not notice and notification from github...

I don`t remember it very well, because these modifications were implemented almost a year ago, but as far as i remember, I think you must specify all columns.

Sorry again for the make you wait.

[2020-10-07 11:16] iignateva commented on #1458
I compared 4.1.0 with v3.10.1 and figured out the difference
method isDelimiter (liquibase.util.StringUtil) were changed
3.10.1
`if (endDelimiter.length() == 1) {
                return piece.toLowerCase().equalsIgnoreCase(endDelimiter.toLowerCase());
}
`

4.1.0
`
if (endDelimiter.length() == 1) {
                if ("/".equals(endDelimiter)) {
                    if (previousPiece != null && !pre

[2020-10-07 14:27] iignateva commented on #1458
I replaced "/" with "/$

[2020-10-07 14:27] #1458 closed

[2020-10-07 15:26] callain commented on #1312
We are experiencing the same issue for months in our project.

You have tagged this issue as `hacktoberfest`, how could we help ?

I have attached an explain plan of the query mentioned by @ggdn.

[explain.html.zip](https://github.com/liquibase/liquibase/files/5341792/explain.html.zip)

[2020-10-07 16:53] juliuskrah opened #1459 "preCondition not working when using addDefaultValue"
## Environment
**Liquibase Version**: 3.8.9

**Liquibase Integration & Version**: Spring Boot - 2.3.4.RELEASE

**Database Vendor & Version**: hsqldb - 2.5.1

**Operating System Type & Version**: Windows 10 Pro

## Description
Adding `preConditions` on a `changeSet` does not provide the required behaviour.

I have a liquibase changeLog which I run against a `hsqldb` for testing and development and

[2020-10-07 16:58] abelk2 commented on #1042
Hi all,

I created this ticket originally because change sets in a project that I'm working on depend on the fact that Liquibase always drops views when updating them, so data types and order change is always allowed. This is not the case anymore post-3.7.0, which prevents us from a version bump. I could, of course, fix the issue by updating the affected change sets and using <validCheckSum>, but

[2020-10-08 11:51] ChairwaKKa opened #1462 "ColumnSnapshotGeneratorInformix.readDataType() wrongly sets colLength value with column size (for informix DATETIME datatype)"
## Environment
**Liquibase Version**: 4.1.0

**Liquibase Integration & Version**: apache-maven 3.3.9

**Liquibase Extension(s) & Version**: none

**Database Vendor & Version**: IBM Informix Dynamic Server Version 11.70.FC5W1GE

**Operating System Type & Version**: Red Hat Enterprise Linux Server release 7.8 (Maipo)

## Description
I run a jar on the target system which executes the update() method

[2020-10-08 20:14] pmancaux commented on #1171
hello,

i have create a zip file with all you need to reproduce, you juste need to have a postgresql db installed or a dockerized one in version 9 or 12. after just do the following command:

create a database and schema testschema like
ceatedb  -U postgres -h localhost liquibasetest
create SCHEMA testschema ;

run liquibase commande first with :

java    -jar  liquibase-core-3.5.5.jar --driver=or

[2020-10-08 21:39] szandany opened #1464 "Add the unexpectedChangeSets command with the Liquibase Maven Plugin"
## Environment
Any
**Liquibase Version**:
Any

**Liquibase Integration & Version**:
maven

## Description

The unexpectedChangeSets command is currently available with CLI only.

## Steps To Reproduce
In a Maven Liquibase project run the following:
mvn liquibase:unexpectedChangeSets

## Actual Behavior
`Could not find goal 'unexpectedChangeSets' in plugin org.liquibase:liquibase-maven-plugin:4.0.0

[2020-10-09 13:33] szandany opened #1466 "Add ignore:true changeset attribute to Formatted SQL changeLogs"
## Environment
Any
**Liquibase Version**:
Any
**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>
Any
**Liquibase Extension(s) & Version**:
Any
**Database Vendor & Version**:
Any
**Operating System Type & Version**:
Any

## Description
We currently have a changeset attribute "ignore" boolean for XML,YAML and JSON.
However, we don't have this changeset at

[2020-10-09 13:38] #1276 closed

[2020-10-09 15:28] #1097 closed

[2020-10-11 08:37] suilven commented on #1042
Thanks for your feedback @abelk2. I wonder if the simplest solution is to add a new Liquibase property to toggle the old `dropIfExists` behaviour for the `createView` change type? This property would default to `false` to maintain existing behaviour. The property would only affect the `createView` behaviour for Postgres.

This would give three options for using _create or replace_ semantics with L

[2020-10-12 13:50] ladyka opened #1470 "Provide R2DBC-based Executor"
Description

It would be great if we could use R2DBC as an execution engine which is the reactive alternative to JDBC.

The motivation behind this ticket is that applications using reactive programming require non-blocking drivers for a SQL database integration. Although most Liquibase integrations run migrations during startup, a fully reactive application does not want to pull in JDBC drivers fo

[2020-10-12 16:25] molivasdat commented on #1398
Hi @ajsobrinomin .  BIGINT(18) is just a hint for zerofill.  It does nothing with regards to precision.
See

https://stackoverflow.com/questions/3135804/types-in-mysql-bigint20-vs-int20
and
https://dev.mysql.com/doc/refman/8.0/en/integer-types.html

[2020-10-12 16:45] r2liquibase opened #1472 "Make liquibase.liquibase.clearCheckSums extendable"
Looks like clearCheckSums is not extendable in 4.1.0. Cassandra doesn't like "UPDATE DATABASECHANGELOG SET MD5SUM = NULL;". Cassandra wants a WHERE clause. clearAllCheckSums in StandardChangeLogHistoryService doesn't seem to be getting called. So, I guess we should either fix that or make clearCheckSums extendable.

[2020-10-12 20:06] molivasdat commented on #1312
Hi @callain We tagged this with hacktoberfest so that anyone with a fix could find and create a PR to fix it.

@nvoxland Do you have any suggestions on this one for @ggdn or @callain ?

[2020-10-13 15:11] nvoxland commented on #1453
I agree that the heartbeat setup will help without getting into database-specific functionality.  I'll update the ticket to be less of a proposal and more of a definition. I have a branch started with this work and will make a PR for it soon.

[2020-10-14 08:34] snicoll opened #1476 "Consider alternative location for banner.txt"
A maintenance release of liquibase added a `banner.txt` at the root of the classpath (see 5e557a5c7999a3c91fc635a82712427421ad845a).

Could you please consider an alternative location for this resource? I am working on the Spring Boot project and we use this location for users that wants to use an alternative banner when starting their apps. Arguably, our default isn't great either and we should p

[2020-10-14 12:54] haster opened #1477 "Liquibase 3.10+/4.1+ missing UniqueConstraints in snapshot"
## Environment
**Liquibase Version**:
4.1.0

**Liquibase Integration & Version**:
<none>

**Liquibase Extension(s) & Version**:
liquibase-hibernate5, version 4.1.0

**Database Vendor & Version**:
Postgres, 12 (running in a docker container based on the postgres:12 container)

**Operating System Type & Version**:
Linux, Ubuntu 20.04/CentOS 7+  (local/buildserver)

## Description
When building a sna

[2020-10-14 12:58] haster commented on #1477
The actual code we use to build the snapshots and create the diff is something like:

[code]

Where LiquibaseFactory just searches the classpath to find the correct classes for the type of database we provide it (in the connectstring) and JpaPrebuildDatabase is based upon the HibernateEjb3Database from liquibase-hibernate5 .

[2020-10-14 14:23] Snaakn opened #1478 "indexExists Preconditions fall back to the user's defaultSchema instead of given schema name"
## Environment

**Liquibase Version**:4.1.0

**Liquibase Integration & Version**: CLI

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**:MS-SQL Server 2017 (RTM-CU20) (KB454183) - 14.0.3294.2 (x64)

**Operating System Type & Version**:Windows 10 Enterprise

## Description
I am currently updating from 3.5.3 to 4.1.0. On 3.5.3 it was still possible to use the defaultSchema with MS

[2020-10-15 05:15] chenmeister commented on #1452
@molivasdat I like to work on this issue.

[2020-10-15 10:15] callain commented on #1312
After doing some investigations, it seems that everything starts with this part of code.

StandardChangeLogHistoryService.java
[code]

It get to this part in DatabaseSnapshot
[code]

This is where it executes this SQL query as much as there are columns in the DATABASECHANGELOG table.

[code]

I can reproduces it every time if I clean the sharedPool and the bufferCache before starting the app
[code

[2020-10-15 12:46] raja-hm opened #1482 "PostgreSQL 12 Support"
As mentioned in the forum https://forum.liquibase.org/t/postgresql-12-support/4468 liquibase fails with error column adsrc not found in postgres version 12.x

## Environment
**Liquibase Version**: **Please update**

**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.> **Please update**

**Liquibase Extension(s) & Version**: **Please update**

**Database V

[2020-10-15 14:39] nvoxland commented on #1476
Thanks for the reminder. We'll move it

[2020-10-15 14:52] r2liquibase commented on #1476
Whoops. Stray click!!! Repopend.

[2020-10-15 14:55] molivasdat commented on #1312
Hi @callain .  Thanks for the excellent review.  I'll get with the team and follow up with more info.

[2020-10-15 15:24] molivasdat commented on #1006
Hi @smcveigh941 I will get with the team about this one.

[2020-10-15 15:27] molivasdat commented on #1452
HI @chenmeister Thanks for signing up to help.  I will assign this to you and look for a PR from you.

[2020-10-15 15:36] molivasdat commented on #1482
Hi @raja-hm Thanks for taking the time to report this as requested.  Can you fill in the additional info that I have added to the description section?

[2020-10-15 15:38] molivasdat commented on #1455
Thanks @tandr for writing up this issue and referencing the fix.  We will take a look at adding this to our list of issues to process.

[2020-10-15 15:48] molivasdat commented on #1459
Hi @juliuskrah Thanks for writing up this issue.  We will add it to our list of issues to process.  If you have a fix or PR to create to fix it, that would be great.

[2020-10-16 02:31] molivasdat commented on #1449
Thank you @pmancaux for writing up this issue.  We will add this to our list of issues to process.

[2020-10-16 02:33] molivasdat commented on #1462
Hi @ChairwaKKa Thank you for creating this issue.  We are going to add it to our list of issues to process.

[2020-10-16 02:40] molivasdat commented on #1470
Thanks @ladyka  for writing up this issue.  It's hacktoberfest so if you or someone you know would like to create the enhancement during this month that would be great!

[2020-10-16 02:45] molivasdat commented on #1478
Thanks @Snaakn for creating this issue.  We will add it to the list of issues that we are processing.  If you have a fix for hacktoberfest that would be great as well.

[2020-10-16 05:15] jamey-clari opened #1483 "Error handling long Postgres table names"
## Environment
**Liquibase Version**: 4.0.0

**Liquibase Integration & Version**: Java API

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**: Postgres 10.12

**Operating System Type & Version**: Mac + Linux

## Description
If I create a simple changeset with a single createTable directive with a 63-character length tableName Liquibase fails with a relation already exists error.

[2020-10-17 23:21] dertin opened #1486 "[WARNING] Cannot create filesystem for url target/test-classes"
liquibase: 4.1.1    -> Affected.
liquibase: 3.10.3  -> Not affected.

Apache Maven 3.6.3 (cecedd343002696d0abb50b32b541b8a6ba2883f)
Maven home: C:\Maven\bin\..
Java version: 11.0.8, vendor: Oracle Corporation, runtime: C:\Program Files\Java\jdk-11.0.8
OS name: "windows 10", version: "10.0", arch: "amd64", family: "windows"

**pom.xml**

[code]

`$ mvn liquibase:update -P DEV -X`

[code]

## Test R

[2020-10-18 03:54] dertin commented on #1486
to avoid the warning create an empty test:

**/src/test/java**

[code]

[2020-10-18 04:41] AtulDwivedi opened #1488 "www.liquibase.org Domain has expired"
## Description
www.liquibase.org Domain has expired. Please renew it.

## Steps To Reproduce
* Visit www.liquibase.org

┆Issue is synchronized with this [Jira Bug](https://datical.atlassian.net/browse/LB-834) by [Unito](https://www.unito.io/learn-more)

[2020-10-18 05:47] mschaaf commented on #1488
This is critical to our application because it fails to start with `Caused by: org.xml.sax.SAXParseException: Open quote is expected for attribute "data-adblockkey" associated with an  element type  "html".`

[2020-10-18 08:52] pavleprica commented on #1488
Standing in line as well, an issue such as this is very critical, even on Sunday. It seems it's only the domain renewal problem. Please advise on it and if something else is going on.

[2020-10-18 09:11] atomitl commented on #1488
It's failing to read 'pro' schemas on startup: ` xmlns:pro="http://www.liquibase.org/xml/ns/pro" http://www.liquibase.org/xml/ns/pro/liquibase-pro-3.8.xsd`

Gets a "Moved Permanently" redirect instead and parse fails.

`[org/springframework/boot/autoconfigure/liquibase/LiquibaseAutoConfiguration$LiquibaseConfiguration.class]: Invocation of init method failed; nested exception is liquibase.exceptio

[2020-10-18 10:20] PawelBialek98 commented on #1488
Hi, I found a temporary solution xD
There was no `http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.9.xsd` file in our project, but i found it after changing from .org to .com -  then I downloaded the file and in the xml file I changed schemaLocation to a local path to the file. It worked for me

[2020-10-18 11:16] jwesselink opened #1489 "loadUpdateData broken for clob/text fields in 3.10.3"
## Environment
**Liquibase Version**: 3.10.3

**Liquibase Integration & Version**: spring boot

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**: PostgreSQL 11

**Operating System Type & Version**: Mac OSX 10.15.7

## Description
After updating to version 3.10.3 I was unable to run a loadUpdateData changeset.

`
<changeSet id="id" author="me" runAlways="false">
  <loadUpdateDat

[2020-10-18 12:04] Nourhan-Hesham commented on #1488
you can download file from
https://github.com/liquibase/liquibase/blob/master/liquibase-core/src/main/resources/www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.8.xsd

[2020-10-18 12:17] Nourhan-Hesham commented on #1488
you can download changelogs files version from here **https://github.com/liquibase/liquibase/tree/master/liquibase-core/src/main/resources/www.liquibase.org/xml/ns/dbchangelog**

and and referring to it locally (relative path)
[code]

[2020-10-18 15:44] molivasdat commented on #1488
This has been resolved.

[2020-10-18 16:46] ssserebrov commented on #1488
http://www.liquibase.org/xml/ns/dbchangelog dbchangelog-3.1.xsd - **page not found**

[2020-10-18 16:49] ssserebrov commented on #1488
https://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-4.0.xsd - **page not found**

[2020-10-18 19:54] Markus-Patt opened #1490 "CreateIndexGeneratorFirebird generates invalid SQL on computed field"
**Liquibase Version**:
4.1.1

**Database Vendor & Version**:
Firebird 2.5
Firebird 3

## Description
A clear and concise description of the issue being addressed.

* Adding an index on a "computed by" value generates invalid sql

## Steps To Reproduce
[code]

This creates the following sql:

[code]

which misses a space between the table name an the the keyword "computed"

[2020-10-18 20:09] timurt commented on #1476
Hello, I am first time here and I wanted to contribute to this project as part of `hacktoberfest` event.

Scope of this issue is to move `banner.txt` to some subfolder inside `resources` folder and make sure that banner is being printed, am I right?

[2020-10-19 05:46] #1488 closed

[2020-10-19 05:48] molivasdat commented on #1488
Thanks for letting us know.  We have updated the domain registration to fix this issue.

[2020-10-19 16:23] highload-russia opened #1492 "Auto rollback doesn't work for change type "addNotNullConstraint" with named constraints [Oracle 19]"
## Environment

**Liquibase Version**: Liquibase Community 3.8.6

**Liquibase Integration & Version**: CLI

**Database Vendor & Version**: Oracle 19c

**Operating System Type & Version**: RHEL7

## Description

Auto rollback doesn't work in case of "addNotNullConstraint" (https://docs.liquibase.com/change-types/community/add-not-null-constraint.html) used with "constraintName" attribute.
In that c

[2020-10-19 18:14] r2liquibase opened #1494 "[MySQL] TIMESTAMP(x) is not being snapshotted well enough"
MySQL has a TIMESTAMP(fsp) datatype that allows you to set the "fractional seconds precision" from 0 to 6.

https://dev.mysql.com/doc/refman/8.0/en/date-and-time-type-syntax.html

I think we're correctly noting the datatype as a timestamp, but I don't think we are correctly setting the fsp on TIMESTAMP.

Below is the JSON snapshot error from the test harness. Note that I don't see a delta between

[2020-10-19 20:16] r2liquibase commented on #1494
I'm seeing the same thing with spatial datatypes. They're all being returned as GEOMETRY. So, if you have POINT or POLYGON set as the datatype, Liquibase will persist that as GEOMETRY in the changelog. I don't see any difference between those datatypes in the snapshot.

[code]

[2020-10-19 20:32] juliuskrah commented on #1459
Hi @molivasdat sorry for the late reply.

Can you point me in the right direction of which files to touch and I'd spin a PR

[2020-10-19 21:05] nvoxland commented on #1311
Yes, #1453 would fix the lock problem you are hitting but it would still be nice to have a more graceful handling of SIGTERM vs. SIGKILL.

We'll handle the lock issue first, since I still don't trust all setups will not kill off the process before our cleanup work is done so having the better SIGKILL recovery is the safer route. But then better handling of the SIGTERM can be handled.

We're planni

[2020-10-19 21:58] molivasdat commented on #1476
Hi @timurt Thanks for the signup.  I added you to the assignee list.  Thanks for contributing.

[2020-10-21 08:53] robinvandenbogaard commented on #1402
@zhoujia1974 someone else made a 3.10 PR here: https://github.com/liquibase/liquibase/issues/1456

[2020-10-22 10:41] blatouh opened #1498 "DB is left in an inconsitent after connection to database is lost"
## Environment

**Liquibase Version**: 3.8.9

**Database Vendor & Version**: Azure SQL Database

## Description

Liquibase tries to apply chngeset twice because it fails to create DATABASECHANGELOG record for it. Changeset was successfully executed but after the changeset transaction was committed connection to database was lost.

## Steps To Reproduce

1. Create some chageset with e.g. ADD COLUMN

[2020-10-22 13:32] PavelSusloparov opened #1499 "Issues with the logger cast"
## Environment
MacOSX

**Liquibase Version**:
4.1.0

**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>
org.liquibase:liquibase-core:4.1.0
org.liquibase.ext:liquibase-hibernate5:4.1.0

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**:

**Operating System Type & Version**:
MacOSX Catalina
10.15.6

## Description
Trying to implement a

[2020-10-22 20:54] szandany opened #1501 "Custom SQL executed not showing up in 4.x versions of Liquibase with the INFO verbosity level"
##TICKET IN PROGRES

## Environment

**Liquibase Version**:
4.0.0 or above
**Liquibase Integration & Version**:
CLI, maven

**Operating System Type & Version**:
Any

**Database**:
Any supported platform

## Description

When executing SQL with the update command combined with INFO log level the SQL executed does not show up with 4.0.0 or above.

## Steps To Reproduce
Create a changeLog with a crea

[2020-10-23 02:28] molivasdat commented on #1483
Hi @jamey-clari Thank for the excellent explanation of the issue.  We will add this to our list of issues.  If you have a PR that will make it work better that would be great.

[2020-10-23 02:33] molivasdat commented on #1486
Hi @dertin Thanks for creating this issue.  We will add it to our list of issues to resolve in v4.x

[2020-10-23 02:36] molivasdat commented on #1489
Hi @jwesselink Thanks for writing up this issue.  We have a fix associated with this issue.  We are looking at incorporating it into our next release.

[2020-10-23 02:39] molivasdat commented on #1490
Hi @Markus-Patt Thanks for writing up this issue.  And thanks for creating a PR to fix it as well.  We will look at incorporating it into a release soon.

[2020-10-23 02:46] molivasdat commented on #1492
Hi @highload-russia Thanks for creating this issue and the great description of how to reproduce it.  We will add this to our list of issues to process.

[2020-10-23 02:50] molivasdat commented on #1498
HI @blatouh Thanks for writing up this issue.  We are working on a better way to handle locking and updates of the database when connections have been disconnected.

[2020-10-23 02:57] molivasdat commented on #1499
Hi @PavelSusloparov Thanks for bringing this issue to our attention.  We will add it to the list of issues that we are processing.

[2020-10-23 04:36] jamey-clari commented on #1483
Hey @molivasdat - I don't have a PR and am unfamiliar with your codebase BUT if you are willing to point me in the right place to look in your code for the naming of structures associated with tables I'd be happy to give it a whack as I think I have a pretty good idea of what should be done.

[2020-10-23 07:21] jamey-clari commented on #1483
Here's some code for the `PostgresDatabase.generatePrimaryKeyName` that I *THINK* is to blame here.  It was changed with version 3.6 (we are upgrading from 3.5).  The tricky bits here are that Postgres caps the identifier length at a byte count and NOT a character count so the encoding used by the DB matters.  Additionally it's possible (though unlikely) for Postgres to be compiles with other than

[2020-10-23 15:48] jamey-clari commented on #1483
Some dabbling in PG 10 shows that the behavior above should be doing a good job of emulating the PG truncation behavior.  Note that Postgres dowcases all such identifiers too so the `toUpperCase` performed by generateDerivedName is seemingly pointless.

[code]

[2020-10-23 18:33] molivasdat commented on #1483
Thanks for the additional research on PostgreSQL 10.

[2020-10-24 11:49] alexey-semenov commented on #1483
Could I work on it?
Also I have a question. Postgres DB PK names is built using `_PKEY` suffix but it's `PK_` prefix for other DBs. Is that expected? Or just left for some backward compatibility? Could you please clarify. If there're no any relevant reasons to keep it as suffix for Postgres then I'd propose to go with the same approach as it's done for other DBs  and use `PK_` prefix to avoid trun

[2020-10-24 15:55] jamey-clari commented on #1483
It'd be great to have it resolved by some means so, speaking as a grateful user, thanks for offering!  I myself am new to the project other than working on an application using v3.5 of the Java library.  It appears that the override on the PK naming routine (`PostgresDatabase.generatePrimaryKeyName`) came in with v3.6.  I was assuming that it was determined that emulating the Postgres convention w

[2020-10-24 20:30] alexey-semenov commented on #1483
@jamey-clari Yeah. I've just double checked it. In accordance with Postgres naming conventions PKs should be suffixed with `_pkey`. So, if no objections, will take a deeper look and try to fix it.

[2020-10-24 21:37] jamey-clari commented on #1483
Awesome, thanks @alexey-semenov !

[2020-10-25 08:39] EEM86 commented on #1499
@molivasdat hello, I'm looking at the code, and seems It'll be ok to use an interface instead of casting to implementation and seems setting parent to the `logService` from the current scope is not required at this part of the code.

Could you assign me to this task, I'm in the testing stage now and I believe I would make a PR today?

[2020-10-25 13:13] molivasdat commented on #1499
Hi @EEM86 Thanks for helping.  I have assigned you this issue.

[2020-10-25 13:15] molivasdat commented on #1501
This is most likely related to #1258

[2020-10-25 20:53] bogomolov-a-a opened #1505 "Does liquibase java 11 support(with module-info.java)"
## Environment
**Liquibase Version**: 3.8.9

**Liquibase Integration & Version**: spring boot 2.3.4

**Liquibase Extension(s) & Version**:  no

**Database Vendor & Version**:  sqlite 3

**Operating System Type & Version**: ubuntu 20.04

## Description
I try to use  liquibase(3.8.9) & spring boot( 2.3.4) integration with modularity project structure. java 11.
I expect ordinary behavior (my changese

[2020-10-26 09:01] RainerGanss commented on #1276
ehm, than who can reopen it? I Can´t

[2020-10-26 13:50] r2liquibase commented on #1276
Hi, @RainerGanss ! See my edited comment above to resolve the issue.

[2020-10-26 14:06] RainerGanss commented on #1276
Hi @r2liquibase my bad!

**4.1.1 fixed the issue**.

Sorry and thx for the quick reply.

[2020-10-26 14:21] r2liquibase commented on #1276
Wonderful, @RainerGanss ! So happy to hear that! Thank you!

[2020-10-26 17:00] goostleek opened #1507 "Regression: StackOverflowError processing large Postgres SQL changeset"
## Environment
**Liquibase Version**: `4.1.1`

**Liquibase Integration & Version**: Spring Boot

**Database Vendor & Version**: Postgres 12.3

**Operating System Type & Version**: Ubuntu 20.04

## Description
There's a regression after upgrading from `4.1.0` to `4.1.1` that is causing `StackOverflowError` while generating Postgres statement during processing a large SQL file-based changeset.  It s

[2020-10-27 15:29] mturra-Pro commented on #1106
Why is this problem still open?

[2020-10-27 16:00] sync-by-unito[bot] opened #1510 "MySql 8.0 requires create and drop of temporary tables to run generateChangeLog"
Liquibase creates a temporary table during generateChangeLog. If the connecting user does not have TEMPORARY TABLE grants, Liquibase commands fail. Those grants should not be required.

##### Stack Trace
{CODE}
[2020-10-26 16:50:09] SEVERE [liquibase.integration] Unexpected error running Liquibase: liquibase.exception.DatabaseException: liquibase.exception.DatabaseException: Unknown table 'testdb1

[2020-10-28 20:13] alexey-semenov commented on #1483
Guys, so sorry if I'm not following all your git-flow conventions.
Let me know if I should correct any descriptions or some formatting.
Here is MR I think should fix the issue with truncating PKs https://github.com/alexey-semenov/liquibase/pull/new/issue-1483
Please review.

[2020-10-28 21:12] VGoudkov opened #1516 "Oracle temporary table on generateChangeLog is created as normal table"
## Environment
**Liquibase Version**:
4.1.1 #10
**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>
CLI
**Liquibase Extension(s) & Version**:

**Database Vendor & Version**:
Oracle 12.2
**Operating System Type & Version**:
Win10

## Description
Sometimes Hibernate generates following table(s)
    CREATE GLOBAL TEMPORARY TABLE HT_AAA (ID NUMBER(19) NOT NU

[2020-10-28 23:33] barkap commented on #1149
I have found a similar (related?) bug when `valueBlobFile` and `valueDate="SYSDATE"` is used while inserting blob and current date in oracle db.

[2020-10-29 03:24] jamey-clari commented on #1483
May I request that this fix be applied to versions 3.6 and forward rather than just 4.0 and forward?  The change which caused the naming problem for postgres (the override of PostgresDatabase.generatePrimaryKeyName) was done in 3.6.  Thank you for considering it.

[2020-10-29 04:38] PauloHenriqueLourenco commented on #1445
is there any workaround for this ?

[2020-10-29 08:07] leonardoarcari opened #1517 "'"validateForeignKey " contains extra space' bug still present in XSD 4.1 and at XSD URIs"
## Environment
**Liquibase Version**: 4.1.1

**Liquibase Integration & Version**: liquibase-core (Java API)

**Liquibase Extension(s) & Version**: N/A

**Database Vendor & Version**: Oracle Express Edition 11g

**Operating System Type & Version**: Windows 10 (19041)

## Description
Issue described also here [CORE-3534](https://liquibase.jira.com/browse/CORE-3534) and here #1239

I'm developing a J

[2020-10-29 08:52] marwin1991 commented on #1476
Hello, can you also fix it in 3.10.X ??

[2020-10-29 09:22] alexey-semenov commented on #1483
@molivasdat @jamey-clari Guys, that should be fine now. Got rid of hardcoded encoding and added non-ASCII names test. Please review.

[2020-10-29 17:02] molivasdat commented on #1483
Hi @jamey-clari What is the hesitation with moving to the 4.x release for your team?

[2020-10-29 18:21] jamey-clari commented on #1483
@molivasdat - I don't have an explicit one at the moment.  Most libraries have breaking API changes in major point releases so I don't know how many of those I might run into and need to overcome as I've not done extensive testing of 4.x yet.  If the hurdles were significant I might elect an intermediate point of upgrade for the time being and depending on other pressures on me.  I did stub my toe

[2020-10-30 00:32] molivasdat commented on #1505
Hi @bogomolov-a-a Thanks for creating this issue.  Yes we do support java 11.  This may be something specific to java 11.  We will add it to the issues we are processing.

[2020-10-30 00:34] molivasdat commented on #1507
Hi @goostleek Thanks for bringing up this issue to our attention.  And thanks for recreation scenario and unit test.  It definitely helps.  We will add it to the list of issues that we are processing.

[2020-10-30 00:37] molivasdat commented on #1516
@VGoudkov Thanks for taking the time to write up this issue.  We will add it to our list of issues to process.

[2020-10-30 00:46] molivasdat commented on #1517
HI @leonardoarcari Thanks for writing up this issue.  I'll check to see why the fix was not pushed for the other version 3.6-3.9 and thanks for the update on 4.0, and 4.1.

[2020-10-30 12:43] theovanessen commented on #1452
It also does not work on Postgresql for the properties `position`, ʻafterColumn` and` beforeColumn`.

[2020-11-01 05:57] chenmeister commented on #1452
@theovanessen There is no way to add the properties position, afterColumn, and beforeColumn in Postgres. You can only append it at the end of the table. See link below for explanation.

https://www.postgresqltutorial.com/postgresql-add-column/

[2020-11-02 09:12] theovanessen commented on #1452
@chenmeister Thanks for the replay. I learned something again today.

[2020-11-02 14:46] szandany opened #1521 "logFile doesn't have any logging content when used with 4.1.1"
## Environment
**Liquibase Version**:
4.1.1
**Liquibase Integration & Version**:
CLI
**Database Vendor & Version**:
Any
**Operating System Type & Version**:
Win/Linux

## Description
When the logFile property/flag is used with Liquibase 4.1.1, Liquibase will generate an empty file.

## Steps To Reproduce
Run:
"liquibase --logFile=myLog.log update"

## Actual Behavior
A new file will be created wit

[2020-11-02 15:02] XDelphiGrl commented on #1521
@szandany , hello! If you specify --logLevel=FINE, do you get output to your log file then? Log level is off by default.

[2020-11-02 16:24] nvoxland opened #1523 "Fix xsd, remove surplus space after validateForeignKey (4.1.xsd / 4.2.xsd)"
## Environment
**Liquibase Version**: 4.1/4.2

**Liquibase Integration & Version**: all

## Description
There is an extra space in the xsd on `<xsd:attribute name="validateForeignKey " type="booleanExp"/>` in the constraints attributes.

This causes an error `Caused by: oracle.xml.parser.schema.XSDException: Invalid value 'validateForeignKey ' for attribute: 'name'`

This was fixed in #1239 but no

[2020-11-03 06:55] jglink commented on #1436
Any news about this issue?
Is there a plan, when this error will be fixed and a new version released?
Thanks.

[2020-11-03 08:12] rhowe opened #1526 "Incorrect documentation link in the getting started guide for changelog files"
## Description
In the [getting started guide](https://www.liquibase.org/get-started/how-liquibase-works), the link to `database changelog file` goes to the documentation for the [databasechangelog table](https://docs.liquibase.com/concepts/databasechangelog-table.html), but it should probably go to the documentation for the [changelog file formats](https://docs.liquibase.com/concepts/basic/changel

[2020-11-03 13:10] molivasdat commented on #1436
Hi @jglink .  Have you tried this with v4.1.1?  There was a change to the Resource Accessor class in how files are searched and loaded.

[2020-11-03 13:50] jglink commented on #1436
No, I haven´t checked 4.1.1 - was not aware, that a new version was already published.
I will give it a try and report the results.

[2020-11-03 14:04] StasPerekrestov commented on #1276
Just tried 4.1.1.
It works, but now it writes the issue description to stdout as a warning.
[code]

[2020-11-03 19:55] molivasdat commented on #1517
Hi @leonardoarcari The URLs for 3.7-3.9 have been fixed.

    3.7: http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.7.xsd
    3.8: http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.8.xsd
    3.9: http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.9.xsd

The ones for 4.0, 4.1 and 4.2 will be fixed when the 4.2 release comes out and the 4.2 jar file will contain all of the fi

[2020-11-03 19:58] leonardoarcari commented on #1517
@molivasdat Huge! Many thanks guys 👏

[2020-11-03 22:19] nvoxland commented on #1254
Yes, we do build with Java 8 because there is a surprisingly large number of people still running against 8, 9 and 10. It's generally forward compatible, but this sounds like one of the times it causes a problem.

I'm not an expert on OSGi by any means so relying on others for this...

We don't use javax.activation ourselves, but it must be in enough of a dependency to be picked up by the OSGI mav

[2020-11-03 22:21] #1378 closed

[2020-11-03 22:26] #1438 closed

[2020-11-03 22:28] #1476 closed

[2020-11-03 22:36] fabiencrassat opened #1527 "computeMD5 with special characters has 2 different outputs"
## Environment

**Liquibase Version**: master branch and last tag is v4.1.1

**Liquibase Integration & Version**: maven 3.6.3

**Liquibase Extension(s) & Version**: *none*

**Database Vendor & Version**: *none*

**Operating System Type & Version**: Windows 10 & Ubuntu 18.04

## Description

I discovered that the md5 checksum can be different between Windows 10 and Ubuntu 18.04 when we deal with sp

[2020-11-03 22:42] nvoxland commented on #1489
The merged PR #1495 resolves this issue for 4.2.0

[2020-11-03 22:42] #1489 closed

[2020-11-04 13:50] molivasdat commented on #1483
Hi @jamey-clari Thanks for the clarification.  There is not a plan to fix this in the 3.x branch.  It will be merged into the 4.x branch moving forward.  Hoping that this does not cause too much of an issue.  We are glad that you are close to moving to 4.x though.

[2020-11-04 16:58] jamey-clari commented on #1483
Thanks @molivasdat - You can't blame me for trying;)

[2020-11-04 19:20] #1389 closed

[2020-11-05 07:46] hci2 opened #1529 "liquibase-maven-plugin propertyFile YAML bug loading wrong username from application*.yml depending on order (Maven, Spring)"
## Environment
**Liquibase Version**: 4.1.1

**Liquibase Integration & Version**: maven (3.6.1) spring boot (2.3.3.RELEASE)

**Liquibase Extension(s) & Version**: -

**Database Vendor & Version**: mssql-jdbc (7.4.1.jre8)

**Operating System Type & Version**: Windows 10 Enterprise (1909 18363.1139)

## Description
When using the liquibase-maven-plugin with propertyFile (configuration) pointing to a

[2020-11-05 10:23] alexey-semenov commented on #1483
Guys, sorry for being absent for a long time. Was up to my years in work. Pushed updates, please check.

[2020-11-05 14:18] blatouh commented on #1498
Hi @molivasdat , thanks for accepting the bug. Any chance that you could give us some ETA on when this could be fixed?

[2020-11-05 14:23] szandany commented on #1521
I think we need clarity as to what is the expected behavior when including the logFile property/flag with or without specifying the logLevel flag/property.

In previous versions of Liquibase, the logFile used to be by default on DEBUG verbosity level (without needing to include the logLevel flag/property).
In 4.1.1 the log filelog is empty if we don't include --logLevel=FINE/DEBUG/INFO.
Also, logF

[2020-11-05 16:11] molivasdat commented on #1483
@jamey-clari No blame here. It's all good.

[2020-11-05 17:06] molivasdat commented on #1498
We are looking your issue through this one -> https://github.com/liquibase/liquibase/issues/1453
I don't currently have a fix date since we don't have a PR yet.
There is a releaseLocks command that will release the lock to continue forward although it does not address the changes that have or have not been deployed.

[2020-11-05 22:33] #1523 closed

[2020-11-06 03:47] molivasdat commented on #1526
Thanks @rhowe Thanks for pointing this out.
This belongs in the docs repository.  Please reopen here:[https://github.com/Datical/liquibase-docs/issues](https://github.com/Datical/liquibase-docs/issues)

[2020-11-06 03:47] #1526 closed

[2020-11-06 03:50] molivasdat commented on #1527
Thanks @fabiencrassat for bringing this issue to our attention.  And thanks for making the recreation scenario.  It definitely helps.  We will add this to our list of issues.

[2020-11-06 04:11] molivasdat commented on #1529
Hi @hci2 Thanks for writing up this issue.
You might try something like this
https://stackoverflow.com/questions/52645232/how-to-divide-liquibase-package-structure-for-dev-and-prod-environment-in-spring
As for the additional context, if I understand this correctly, you have a micro service architecture where multiple micro services are all connecting to the same database?

[2020-11-06 18:57] hci2 commented on #1529
Hi @molivasdat ,

I already read this article but I do not like the approach of making own db.properties/liquibase.properties and separate it via folder structure. Moreover to use a separate filter plugin to distinct and multiple places to care. I prefer to stick to the spring boot approach with different application*.properties/yml files. Therefore I am writing this issue because it should only r

[2020-11-07 18:26] fabiencrassat commented on #1527
Good! Thank you @molivasdat
Hope it will be easy. If not, don't hesitate to contact me :)

And I'm very curious to understand what will be your analysis.

Regards,

[2020-11-10 08:26] pmancaux commented on #1449
@molivasdat any news about this issue? i m doing upgrade of my lib every 3 month but i can t go to 4.0.0 for now thanks

[2020-11-10 08:26] pmancaux commented on #1171
@molivasdat hello, did you have test my project to see the problem? did you need anything else?

thanks

[2020-11-10 20:25] #1510 closed

[2020-11-10 23:57] molivasdat commented on #1171
Hi @pmancaux Thanks for the excellent recreation scenario.  Very well documented.  I just tried to recreate the issue just as you described and I was successful in recreating the issue.  I used postgres 11 because that is what I had available at the time I tried to recreate and it still showed the same overall results.  I'll get with the team and see what we can do to move you up to a later versio

[2020-11-11 04:15] molivasdat commented on #1459
Hi @juliuskrah Not sure if there is anything we can do here.  It looks like the error message points to something that hsqldb cannot handle.  As far as I can tell from the documentation for HSQLDB, functions for default values are not allowed [http://www.hsqldb.org/doc/1.8/guide/ch09.html#columnDef-entry](http://www.hsqldb.org/doc/1.8/guide/ch09.html#columnDef-entry)
Default values that are allowe

[2020-11-11 07:55] juliuskrah commented on #1459
@molivasdat I am aware of this limitation in hsqldb. If you read the context of the bug report, I added a precondition for the changeset to run only under postgresql.

However this changeset runs also for hsqldb (this is the bug).

I hope this is clear

[2020-11-11 14:23] molivasdat commented on #1459
Hi @juliuskrah Thanks, I see that now.  The way the precondition you have written logic works is that it will check to see if the changeset runs and if it fails and the database is postgresql then mark it in the DATABASECHANGELOG table as having been run and continue processing additional changesets. For any other database it will still run but in the case of other databases the update will stop a

[2020-11-11 15:43] juliuskrah commented on #1459
@molivasdat thank you for the clarification. I think the documentation for `preConditions` here <https://docs.liquibase.com/concepts/preconditions.html> should be updated to emphasize more on this.

Adding `dbms="postgresql">` solved my issue.

[2020-11-11 15:43] #1459 closed

[2020-11-11 20:32] CMoH commented on #1254
Hey! I have also bumped into this, and believe I have a solution in #1534. Please investigate. I hope it will be picked up for an official release, but even so, the patch might be useful for others that need to delay the upgrade to 4.x series.

[2020-11-12 09:02] #1023 closed

[2020-11-12 09:19] jglink commented on #1436
@molivasdat Sorry, it took some time until I had the chance to look at it again.
Yes, the <includeAll> is working again with Liquibase 4.1.1
Thanks

[2020-11-12 13:49] molivasdat commented on #1436
Hi @jglink Thanks for the feedback.

[2020-11-13 17:57] molleafauss opened #1535 "updateTestingRollback behaviour is different from doc"
## Environment
**Liquibase Version**: 3.8.9 (also observed on 3.5.3)
**Liquibase Integration & Version**: maven 3.6.3 and maven plugin 4.1.1
**Liquibase Extension(s) & Version**:
**Database Vendor & Version**: MySQL 5.7 on Amazon Aurora
**Operating System Type & Version**: MacOs Catalina

## Description
[The documentaton for updateTestingRollback](https://docs.liquibase.com/tools-integrations/mave

[2020-11-13 19:39] molivasdat commented on #1527
Hi @fabiencrassat Which version of java were you using for the tests?

[2020-11-13 20:09] fabiencrassat commented on #1527
Hi,

On windows it is:
[code]
For Linux I can do it only next week :(

Regards,

[2020-11-14 11:35] alexandru-slobodcicov opened #1536 "CockroachDatabase.isCorrectDatabaseImplementation has to check whether it is JdbcConnection otherwise fails with cast exception"
## Environment
**Liquibase Version**: 4.2.0

**Liquibase Integration & Version**: any

**Liquibase Extension(s) & Version**: liquibase-cosmosdb

**Database Vendor & Version**: Cosmos DB

**Operating System Type & Version**: Windows

## Description
By introducing the CockroachDatabase support

* isCorrectDatabaseImplementation method fails with cast exception when using a NoSql extension: java.lang

[2020-11-14 12:35] alexandru-slobodcicov opened #1537 "Encapsulate getTag, buildFullContext logic in changeSet so it can be reused in extensions"
## Environment
**Liquibase Version**: 4.1.1

**Liquibase Integration & Version**: spring boot

**Liquibase Extension(s) & Version**: liquibase-mongodb-4.1.1.2

**Database Vendor & Version**: Mongo DB 4.0

**Operating System Type & Version**: Windows

## Description
Currently the tag identification logic is in MarkChangeSetRanGenerator
`
String tag = null;
                for (Change change : chang

[2020-11-16 05:28] mendietaczfls opened #1539 "Liquibase key pair authentication error"
## Environment

**Liquibase Version**: org.liquibase:liquibase-core:4.1.1

**Liquibase Integration & Version**: Gradle 6.3

**Liquibase Extension(s) & Version**: liquibase-gradle-plugin:2.0.2

**Database Vendor & Version**: net.snowflake:snowflake-jdbc:3.12.13

**Operating System Type & Version**: windows 10 x64

## Description

we have recently switched from using basic auth to using key pair aut

[2020-11-16 08:31] fabiencrassat commented on #1527
Hello @molivasdat,

Hope you are being well!

I have your answer for linux, I'm using a docker image with IBM jdk-8.251.

Hope it will help you :)

Regards,

[2020-11-16 14:05] neonomaly opened #1540 "Spring Resource Accessor can't access change logs not from a classpath."
Spring Resource Accessor can't access change logs not from a classpath.

Liquibase Version: 4.2.0
Spring Boot Version: 2.3.4.RELEASE

## Description
Starting application causes such exception:

_Caused by: liquibase.exception.ChangeLogParseException: file:/****/some.yaml_ does not exist

This comes because of **SpringResourceAccessor**:

[code]

If searchPath already have not a "**classpath:**" pr

[2020-11-16 14:24] molivasdat commented on #1527
@fabiencrassat Thanks for getting back to us.  Looks like both windows and Linux are using the same major version 1.8

[2020-11-16 14:50] r2liquibase commented on #1536
@nvoxland and @mariochampion, looks like some CDB changes impacted @alexandru-slobodcicov 's upcoming work on Cosmos.

[2020-11-16 14:51] r2liquibase commented on #1537
@nvoxland and @mariochampion , @alexandru-slobodcicov needs some help here for Cosmos. Thanks!

[2020-11-16 16:31] fabiencrassat commented on #1527
Yes ;)

[2020-11-16 16:51] nvoxland commented on #1453
I created #1541 for the in-progress work on implementing this

[2020-11-16 16:53] nvoxland commented on #1453
Another thing to keep in mind with the implementation: make sure the base classes handle multi-threading support correctly.

[2020-11-16 17:16] nvoxland commented on #1537
Yes, that does need to be improved. A general refactoring on the ChangeLogHistoryService interface and base classes has been on the short list of things to do for a while, but unfortunately hasn't made it to the top of the list yet. It will probably be something like we're doing in #1541 for LockService where we are trying to make it less reliant on the *Generators that assume something sql-relate

[2020-11-16 17:20] nvoxland commented on #1536
Yeah, that needs to be fixed up. I have a fix in #1542 . Can you check that that branch fixes your issue?

[2020-11-16 18:11] nvoxland commented on #1501
**This is by design.** As part of the 4.0 logging cleanup, we standardized on java.util.logging.Logging defintions of log levels:

- SEVERE is a message level indicating a serious failure. In general SEVERE messages should describe events that are of considerable importance and which will prevent normal program execution.
- WARNING is a message level indicating a potential problem.
- INFO is a mes

[2020-11-16 18:19] nvoxland commented on #1501
Nevertheless, there have been several users who are missing the SQL output in the logs.

We implemented a potential between-ground option in #1520 which adds a `liquibase.sql.showAtLogLevel` configuration option which lets users specify which log level the sql is output at. That allows us to keep it defaulted to FINE but users can set it to INFO  (or SEVERE or OFF or whatever) depending on their n

[2020-11-16 18:27] nvoxland commented on #1501
**So, the questions to the community at large are:**

1. Do you agree or disagree that SQL should be logged at FINE level, and why?
2. Do you see value in having a liquibase-level configuration flag to control the log level vs. configuring your logging, and why?
3. If you rely on seeing the SQL ran by liquibase during an operation, what are your use cases for wanting that?

I'm especially interest

[2020-11-17 08:55] alexandru-slobodcicov opened #1543 "Use ChangeLogHistoryService.clearAllCheckSums implementations in Liquibase.clearCheckSums instead of direct UpdateStatement call"
## Environment

**Liquibase Version**: 4.x.x

**Liquibase Integration & Version**: all

**Liquibase Extension(s) & Version**: MongoDB, CosmosDB 4.x.x

**Database Vendor & Version**: 4.x

**Operating System Type & Version**: any

## Description

Currently in Liquibase.clearCheckSums implemetation looks like:
`
   checkLiquibaseTables(false, null, new Contexts(), new LabelExpression());

[2020-11-17 14:35] alexandru-slobodcicov commented on #1536
Hi @nvoxland tested from branch with both liquibase-mongodb and liquibase-cosmosdb.
All good, can be merged.
Thank you

[2020-11-17 14:38] nvoxland commented on #1536
Great! Thanks for the update

[2020-11-17 15:37] alexandru-slobodcicov commented on #1472
Haven't noticed this one. Can be closed mine if it's a duplicate:
Raised a similar one https://github.com/liquibase/liquibase/issues/1543
Would prefer StandardChangeLogHistoryService call.

[2020-11-17 18:07] rhowe commented on #1526
Thanks - raised here https://github.com/Datical/liquibase-docs/issues/75

[2020-11-17 18:42] nvoxland commented on #1527
The goal of the MD5Util class is to be a low-level "just encode the bytes" given helper function. Any "smoothing" of cross-os differences like line ending standardization etc. should be handled upstream, such as in `liquibase.change.CheckSum#compute()`

My guess is that there are byte-order differences or encoding differences between the different platforms that makes java generate different bytes

[2020-11-17 19:09] nvoxland commented on #1100
The `Other issues: Other rollback commands like "rollback " or "rollbackCount " will rollback back the corresponding changeSets but the corresponding rows in the DATABASECHANGELOG will not be removed.` should already be fixed in a previous release, so I'll take that section out and keep this ticket focused on the path handling.

[2020-11-17 19:25] nvoxland commented on #1100
I think this behavior is "by design". Liquibase looks up the changeSets to update, rollback, etc based partly on the "path" of the changeSet. That path needs to remain consistent every time you run liquibase, including in the rollbackOneChangeSet call.

The fact that you have a `--changeSetPath=../<changelogFile>` in the rollback command vs the update output of just `changeLog.xml` makes it look l

[2020-11-17 20:25] #1536 closed

[2020-11-17 22:09] nvoxland commented on #1081
This was resolved in one of the 4.1.x releases

[2020-11-17 22:09] #1081 closed

[2020-11-17 22:28] #1402 closed

[2020-11-18 07:08] acierto commented on #1436
Not completely.
Still doesn't work on Windows 2008 R2.
Or completely doesn't work on JDK 11.

Tested on liquibase 4.2.0

[2020-11-18 13:49] molivasdat commented on #1436
Hi @acierto
Thanks for the feedback on this.
Windows 2008 R2 is no longer supported.
[https://support.microsoft.com/en-us/help/4456235/end-of-support-for-windows-server-2008-and-windows-server-2008-r2](https://support.microsoft.com/en-us/help/4456235/end-of-support-for-windows-server-2008-and-windows-server-2008-r2)
I'll take a look at the JRE11.

[2020-11-18 14:48] szandany opened #1546 "LBPro ERROR: "Unable to drop DATICAL_SPERRORLOG table" after SQL Plus changeset failure"
TICKET IN PROGRESS

**Liquibase Version**:
4.1.1

**Liquibase Integration & Version**:
CLI, SQL Plus integration with runwith cahngeset attribute Pro feature.

**Database Vendor & Version**:
Oracle.

**Operating System Type & Version**:
Windows, Linux.

## Description
When failing on a changeset with the runwith="sqlplus" attribute, there is a chance that

## Steps To Reproduce
## Actual Behavior

[2020-11-18 19:15] linuxninja39 opened #1547 "5 unique constraint limit"
## Environment
**Liquibase Version**: 4.1.0

**Liquibase Integration & Version**: gradle-6.7

**Liquibase Extension(s) & Version**: liquibase-hibernate5-4.1.0

**Database Vendor & Version**:mariadb-10.3

**Operating System Type & Version**: ubuntu 20.20

## Description
A clear and concise description of the issue being addressed.
When I add a 6th unique constraint, diffChangeLog will keep creating

[2020-11-18 21:27] nvoxland commented on #1547
Thanks for the report.
This will be fixed in 4.2.1 as #1477.

Closing this as a duplicate

[2020-11-18 21:27] #1547 closed

[2020-11-19 08:59] kzander91 opened #1549 "RowCountPrecondition fails on tables containing more than Integer.MAX_VALUE rows"
## Environment
**Liquibase Version**: 4.1.0

**Liquibase Integration & Version**: CLI, maven

**Liquibase Extension(s) & Version**: none

**Database Vendor & Version**: Oracle Database 18c Enterprise Edition Release 18.0.0.0.0 - Production

**Operating System Type & Version**: SUSE Linux Enterprise Server 11 SP4

## Description
The `RowCountPrecondition` (and its subclass `TableIsEmptyPrecondition

[2020-11-19 10:03] QuadStingray commented on #1353
Issue is still active in liquibase 4.2.0

[code]

[2020-11-19 13:28] molivasdat commented on #1535
Hi @molleafauss Thanks for writing up this issue.  I think this may be an issue with the documentation.
We have a documentation repo here
[https://github.com/Datical/liquibase-docs/issues](https://github.com/Datical/liquibase-docs/issues)
Can you move the issue report over there?

[2020-11-19 15:48] sebastien-reynier opened #1550 "DiffChangeLog command is never stops with big Oracle table (8000 tables and a lot of FK)"
## Environment

**Liquibase Version**: 4.1.2

**Liquibase Integration & Version**: CLI

**Liquibase Extension(s) & Version**: N/A

**Database Vendor & Version**: Oracle

**Operating System Type & Version**: WINDOWS

## Description

When I use big Oracle database with 8000 tables, in this database there are a lot of views, functions, triggers, relation with FK ...
My goal is to generate a changelog

[2020-11-19 21:45] neupsh opened #1551 "loadData fails to insert data when usePreparedStatements=true"
## Environment

**Liquibase Version**: 4.2.0 (also reproducible in 4.1.1)

**Liquibase Integration & Version**: spring boot, but is reproducible by cli (see below)

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**: postgres:10.7

**Operating System Type & Version**:

## Description
`loadData` change type fails to insert data when `usePreparedStatements=true`. The update operati

[2020-11-19 21:57] molleafauss commented on #1535
Hi @molivasdat will do.
Although I was actually hoping that this would spark a conversation regarding the rollback testing, as I believe that the documentation is the correct way of applying and testing migrations and rollback.

Case in point: if during a run there are more than one migration with a wrong rollback, how liquibase is applying and rolling them back, it will cause this:
- only the las

[2020-11-20 02:57] molivasdat commented on #1535
Hi @molleafauss Thank you for the great explanation of why it should work that way.  This would be an enhancement request to change the way it works now.  I think the Enterprise version may work this way but I will have to check.

[2020-11-20 03:14] molivasdat commented on #1539
Hi @mendietaczfls Thanks for bringing this issue to our attention.  I was able to get this to work using the cli by creating keys with LibreSSL 2.8.3 on my mac.
[code]
This was similar to the url I used
[code]

Not sure if this is related to the error you are seeing or not.
[https://community.snowflake.com/s/article/Private-key-provided-is-invalid-or-not-supported-rsa-key-p8--data-isn-t-an-object-

[2020-11-20 03:23] molivasdat commented on #1540
Thanks @neonomaly for writing up this issue.  We will add it to our list of issues to process.

[2020-11-20 03:25] molivasdat commented on #1543
Hi @alexandru-slobodcicov Thanks for bringing this example enhancement to our attention.  It is much appreciated.  We will add it to the list of issues to process.

[2020-11-20 03:31] molivasdat commented on #1549
Hi @kzander91 Thanks for writing up this issue.  We will add it to the list of issues to process.  I agree that counting all the rows in a table is very inefficient to see if the table is empty.

[2020-11-20 03:36] molivasdat commented on #1550
Hi @sebastien-reynier Thanks for writing up this issue.  We will need to do additional research to see if there is a way to bypass dependency searching.  There may be other ways of extracting 8000+ tables and migrating them over to another database.

[2020-11-20 08:50] sebastien-reynier commented on #1550
Hi @molivasdat thanks for your quick reply.
If need I will put my workaround here.

[2020-11-20 11:54] ilopmar opened #1552 "Support for GraalVM native images"
Is there any plan to support [GraalVM](https://www.graalvm.org/) native images out of the box in Liquibase? At this moment different frameworks like Micronaut and Quarkus already support it but including specific Liquibase configuration into the frameworks or doing some tricky things.

It would be good if there were support directly in the library so anyone that uses it can benefit.

In Micronaut

[2020-11-20 22:41] nvoxland opened #1553 "Do not split SQL on delimiters within BEGIN/END blocks"
## Environment
**Liquibase Version**:  4.2.0

**Liquibase Integration & Version**: All

## Description
Currently the Sql split logic used throughout liquibase splits on delimiters. That works fine, as long as the delimiter characters are not used inside statements.

The main time when delimiters can be in statements are in stored procedures such as:

[code]

were the ; after `WHERE Continent = con

[2020-11-22 16:55] fabiencrassat commented on #1527
Hello and sorry for the delay,

First, maybe I did not present well the description of my ticket because yes this is a problem that my team encountered when changing the operating system of our Jenkins (Windows to Linux). Since then, Liquibase's generateSQL has been in error because the MD5s of the files compared with the database are different. We therefore are doing our builds locally on our Win

[2020-11-23 12:35] msilfver opened #1554 "CockroachDatabase NullPointerException when using Hibernate database"
## Environment

**Liquibase Version**: 4.2.0

**Liquibase Integration & Version**: CLI

**Liquibase Extension(s) & Version**: liquibase-hibernate5:4.1.1

**Database Vendor & Version**: Hibernate

**Operating System Type & Version**: *

## Description

When generating a changelog with the liquibase-hibernate extension and liquibase is doing the hibernate pass there is a check for each *Database if

[2020-11-23 12:43] msilfver commented on #1554
I just saw that this is fixed in https://github.com/liquibase/liquibase/pull/1542

[2020-11-23 12:43] #1554 closed

[2020-11-23 12:52] Captain-P-Goldfish opened #1555 "Log Warnings due to FileSystemNotFoundException"
In our current project we got a nasty warning.

[code]

It seems to be same as in this ticket:

https://github.com/liquibase/liquibase/issues/1276

I updated to liquibase 4.2.0 and the warning is still there:

Here is my setup:

OS: centos 7
JDK: Oracle JDK 11.0.6

[code]

[2020-11-23 12:55] Captain-P-Goldfish commented on #1555
Additional info:

We are running our setup within a docker container with base image centos:7

[2020-11-24 07:09] Snaakn commented on #1478
The problem could be that the _check_ method in IndexExistsPrecondition.java only uses the schema name if also the tableName parameter is given.

[2020-11-24 14:10] #1477 closed

[2020-11-25 16:51] stauvel commented on #1550
Same problem here, we can't extract few tables of our big legacy database.
@molivasdat the problem is not database migration : "with 2 tables in includeObjects value", @sebastien-reynier said.
Thanks for your investigation.

[2020-11-26 15:59] fabiang opened #1561 "Add option/envvar to disable banner"
## Environment
**Liquibase Version**: >=4.0

**Liquibase Integration & Version**: CLI

**Liquibase Extension(s) & Version**: -

**Database Vendor & Version**: -

**Operating System Type & Version**: -

## Description
Add an global config option or environment variable to disable the banner when executing Liquibase on CLI. Polluting my buffer is annoying af. Thanks.

## User Story
As a CLI or autom

[2020-11-27 01:35] devorgpl opened #1562 "Invalid update SQL generated for HSQL database in InsertOrUpdateGeneratorHsql.java"
## Environment
Liquibase: all branches, verified on 4.2.x
Database Vendor: HSQL

## Description
Invalid SQL generated for HSQL database in InsertOrUpdateGeneratorHsql.java

Note: Found when trying to use:

[code]

* no table name in update script
* no where clause in update script
* note: no tests for this file

## Steps To Reproduce
[code]

## Actual Behavior && Desired Behavior
[code]

[2020-11-30 02:54] liyunfei0302 opened #1564 "add lifecycle support"
## Environment
**Liquibase Version**:3.6.3

**Liquibase Integration & Version**: spring boot

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**:MySql, 5.7

**Operating System Type & Version**:mac OS, 11.0.1

## Description
I hope add lifecycle hook, I want to do something after the database is created, but I don't know how.

## Steps To Reproduce
none

## Actual Behavior
none

#

[2020-11-30 21:03] molivasdat commented on #1550
Hi @sebastien-reynier , could you please provide your workaround or a simple testcase that shows the issue.  @stauvel The reason for issue also occurring only with 2 tables could be part of the database snapshot performed on the 8K table based database which does a dependency tree snapshot regardless.

[2020-12-01 13:04] mironbalcerzak commented on #1375
Hey all, just checking - any updates here?

[2020-12-01 20:19] enda-odonohoe commented on #1212
FYI: Noticed two things here.
1) As of Postgres JDBC Driver version 42.2.11 , DatabaseMetadata.getTables(s, s1, s2, new String[]{"TABLE"}) does not return PARTITIONED TABLES, so the liquibase drop-all doesn't see them and they never get dropped.
2) Adding  typesToInclude.remove(ForeignKey.class) to the dropDatabaseObjects appears to fix the error, since the drop table...cascade looks like it is re

[2020-12-01 20:21] nvoxland opened #1566 "No validation errors when <property> definitions wrong"
## Environment

**Liquibase Version**: 3.10

**Liquibase Integration & Version**: Spring boot

## Description

If a changelog includes a `<property dbms="postgresql"/>` entry, there is no validation error saying that name or file is required.

Instead, a NullPointerException is thrown:

[code]

## Expected/Desired Behavior

An useful validation error such as "property defined in x/y/z.xml requires

[2020-12-02 02:02] justin-dd opened #1567 "Contents of migration file aren't getting executed"
## Environment
**Liquibase Version**: 4.2

**Liquibase Integration & Version**: CLI

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**: CockroachDB 20.2.1

**Operating System Type & Version**: MacOS Catalina 10.15.7

## Description
A clear and concise description of the issue being addressed.

* I recently upgraded to liquibase 4.2 and `liquibase update` no longer seem to be wor

[2020-12-02 09:57] bvremmeinfor opened #1568 "Inconsistent synchronization causes sporadic NPEs"
## Environment
**Liquibase Version**:
3.8.x all the way to latest

**Liquibase Integration & Version**:
Plain Java API

**Liquibase Extension(s) & Version**:
None

**Database Vendor & Version**:
Any

**Operating System Type & Version**:
Any

## Description
Inconsistent synchronization in LockServiceFactory & ChangeLogHistoryServiceFactory causes sporadic null pointer exceptions in multi-threaded e

[2020-12-02 13:07] fabiang opened #1569 "[Feature idea] provide default properties for data types for the current DBMS"
Hello,

currently I'm defining properties for all datatypes of the DBMSs I'm using like this:

[code]

I do this for all my projects to make my changelogs more universal.

Maybe Liquibase could come with pre-defined properties for all supported DBMSs in the from `liquibase.type.*`. This would make Liquibase even more universal, if it's well documented. Of cause changing the defaults should only ha

[2020-12-02 15:37] molivasdat commented on #1552
Hi @ilopmar Thanks for this enhancement request.  I'll check with the team on the plan for other integrations. If you have a PR that would resolve this then go ahead and submit it.  I'm not familiar with GraalVM so I will need to do some research.  This was not on the current radar as far as I know.

[2020-12-02 15:43] molivasdat commented on #1555
Hi @Captain-P-Goldfish Thanks for writing up this issue.  We will add it to the list of issues that we are processing.  Does the liquibase update command work and this is a warning in standard out that you would like suppressed or put into a log file?

[2020-12-02 15:45] molivasdat commented on #1561
Hi @fabiang Thanks for creating this request.  We will add it to the list of issues to process.

[2020-12-02 15:54] molivasdat commented on #1562
Thanks @devorgpl for writing up this issue and adding a PR to fix it.  We will add this to the list of issues and PRs to process.

[2020-12-02 17:09] molivasdat commented on #1564
Hi @liyunfei0302 Not sure I understand the question.  Can you elaborate further and join discord [https://discord.gg/9yBwMtj](https://discord.gg/9yBwMtj )  to get more details?

[2020-12-02 21:01] mmdl commented on #1436
For me not working on JDK 11. Also not working with v4.2.0.
@jglink can you paste your example code.

[2020-12-03 03:27] molivasdat commented on #1567
Hi @justin-dd Thanks for writing up this issue.  In your dbms string you are using postgresql, but running against a cockroach database.  Can you change that to cockroachdb?
The way it is looking to me is that the changeset has run but there is nothing to do on the database since it's a cockroach database.  So it marks it as having run on that database in the changelogtable so it does not have to

[2020-12-03 03:57] justin-dd commented on #1567
@molivasdat - thanks for the response. I'll try that tomorrow and report back. I did manage to run the test again today with the `--logLevel 0` flag and noticed this in the output:

[code]

[2020-12-03 05:40] jglink commented on #1436
I´m using Liquibase from within Quarkus (updated the dependency manually because Quarkus 1.9.x still used Liquibase 4.0).
And it´s working fine with JDK 11 (Amazon Corretto) and Liquibase 4.1.1

The definition of the import in a changeLog.xml looked like this:
`<includeAll path="db/1.0.0" errorIfMissingOrEmpty="true"/>`

[2020-12-03 08:25] hwolf opened #1570 "XML tag <createSequence ...> produces invalid SQL for H2 database"
We create sequence in our change sets:

[code]

Starting from version 3.8.1 this tag produces invalid SQL for H2 database:

[code]

Tested with liquibase-core 3.8.1, 38.9, 3.9.0 and 4.2.0

[2020-12-03 16:13] Captain-P-Goldfish commented on #1555
the liquibase update works without problem. Our problem is simply that the log file is being filled with thousands of lines of these warnings

[2020-12-04 04:44] molivasdat commented on #1568
HI @bvremme Thanks for writing up this issue.  It's unfortunate that you are not able to write up a PR to fix this.  Thank you also for the LockServiceFactoryTest testcase.  We will take a look and add it to our list of issues.

[2020-12-04 04:51] molivasdat commented on #1570
Hi @hwolf Thank you for creating this issue and bringing this to our attention.  We will add this to the list of issues to process. What is the valid sql that this should produce?

[2020-12-04 08:25] bvremme commented on #1568
Thanks @molivasdat,
as mentioned, this is a tiny fix (2 lines * 2 classes) and the probability for this bug to occur in production is low. We use the unmodified stock version in production and will keep doing so. Expect this error to occur once, maybe twice a year in our build systems as they perform some stress-testing on every build. Annoying, but low priority.

As for most threading issues, it

[2020-12-04 15:03] duronrulez opened #1571 "dropAllForeignKeyConstraints performance/errors in liquibase 3.10.3, works perfect in liquibase 3.4.2"
## Environment
**Liquibase Version**: works fine on 3.4.2, broken on 3.10.3

**Liquibase Integration & Version**: CLI

**Database Vendor & Version**: MySql 5.6

**Operating System Type & Version**: centos 7

## Description
In 3.10.3 a dropAllForeignKeyConstraints change is incredibly slow (168087ms vs 55ms) and produces errors:

`14:52:17.216 INFO  [liquibase.util.SqlUtil]: Unknown default value:

[2020-12-04 18:13] hwolf commented on #1570
Valid SQL in this case is:
[code]

H2 sequences have alwasy type `bigint`. See https://www.h2database.com/html/commands.html#create_sequence

[2020-12-04 21:46] lorddev opened #1573 "java.lang.StringIndexOutOfBoundsException: String index out of range"
## Environment
Windows
**Liquibase Version**:
Liquibase Community 3.10.2 by Datical
**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**:
postgres 12
**Operating System Type & Version**:
Windows 10 Pro

## Description
A clear and concise description of the issue being addressed.

* Desc

[2020-12-04 22:32] #1573 closed

[2020-12-04 22:33] lorddev commented on #1573
The issue was that the text of the changelog file was commented out.

[2020-12-04 22:47] justin-dd commented on #1567
@molivasdat apologies for not replying sooner, but changing the dbms string did fix the issue for me.

Thank you so much for following up and taking the time to respond with helpful feedback!

[2020-12-07 14:43] szandany opened #1574 "LB v4.2.0 - Variables are NOT substituted when using nested properties deeper than level 1 in another property definition with YAML"
**Liquibase Version**:
Liquibase 4.2.0, 4.1.1

**Liquibase Integration & Version**:  CLI

## Description
When using nested properties that are deeper than level 1 in a YAML changelog, the variables will NOT get substituted.

## Steps To Reproduce
1. Use Liquibase 4.2.0
1. Use nested properties that are deeper than level 1 with a YAML changelog.  For example:

[code]

1. Run: liquibase updateSQL

#

[2020-12-07 14:46] molivasdat commented on #1569
Hi @fabiang Thanks for adding this suggestion.  There are some defaults for some of the more widely used DBMSs in Liquibase.
What interface and version of Liquibase are you using?
Are you calling it directly from java, from a CLI, etc?

[2020-12-07 15:17] fabiang commented on #1569
Where I can find those defaults? I'm using Liquibase 4.1.1 CE on the CLI.

[2020-12-07 16:09] molivasdat commented on #1569
Hi @fabiang .  I believe the only place those defaults are documented currently are in the code itself.

[2020-12-07 16:24] molivasdat commented on #1567
Closing issue as resolved.

[2020-12-07 16:24] #1567 closed

[2020-12-08 18:05] Robbilie opened #1576 "mvn liquibase:diff throws NPE"
## Environment
**Liquibase Version**: 4.2.1

**Liquibase Integration & Version**: maven

**Liquibase Extension(s) & Version**:

spring boot 2.4.0
		<liquibase-hibernate5.version>4.1.1</liquibase-hibernate5.version>
		<validation-api.version>2.0.1.Final</validation-api.version>

**Database Vendor & Version**: h2

**Operating System Type & Version**: debian buster

## Description
When running mvn li

[2020-12-08 18:09] Robbilie commented on #1576
okay so i believe this might be a version incompatibility with liquibase-hibernate5?

https://github.com/liquibase/liquibase-hibernate/issues/282

[2020-12-08 19:18] nvoxland commented on #1576
Yeah, there was a similar bug we fixed for 4.2.1 but hibernate worked around that bugfix...  We'll have to get an updated Liquibase version to fix that.

[2020-12-08 22:44] Robbilie commented on #1576
ok thanks, guess ill have to revert some dependabot commits then :/

[2020-12-09 12:00] sfxcode commented on #1277
what is the status of this issue? We like to use 4.x in Production.

Greetings,

Tom

[2020-12-09 12:19] vlsi opened #1578 "Fix XML example and documentation for onFail preconditions"
## Environment
https://docs.liquibase.com/concepts/advanced/preconditions.html

The website suggests the following:

[code]

The comment below the sample reads:

However, `onFail="WARN"` makes the precondition be effectively be ignored.

In practice, `onFail="WARN"` just ignores the violation and executes the changeset anyway: https://github.com/liquibase/liquibase/blob/75bc150e4d7281008842d77c0d1

[2020-12-09 12:48] dom54 opened #1579 "ChangeLogHistoryService upgradeChecksums doesnt work as it appears to be intended"
The issue for us is primarily with OfflineChangeLogHistoryService.   We noticed that when upgrading liquibase from 3.4.0 to 3.10.3 (and presumably later) we had some checksum failures.   This is because the algorithm changed from v7 to v8.

The method, in ChangeLogHistoryService (https://github.com/liquibase/liquibase/blob/75bc150e4d7281008842d77c0d140c2244284475/liquibase-core/src/main/java/liqui

[2020-12-09 20:01] #1576 closed

[2020-12-10 00:03] gregu opened #1581 "LoadUpdateData doesn't update blob from csv data file"
## Environment
**Liquibase Version**:  3.9 && 4.2.1

**Liquibase Integration & Version**: gradle (for a Spring Boot project)

**Liquibase Extension(s) & Version**: N/A

**Database Vendor & Version**: H2 1.4.200

**Operating System Type & Version**:  macOS 10.15.7

## Description
Cannot update a record with blob field (column) using loadUpdateData when data comes from csv and value related to blob

[2020-12-10 09:14] ilopmar commented on #1552
@molivasdat done in #1582

[2020-12-10 10:50] ZigZag59 commented on #1113
Hi,

I updated my version from 3.10.0 to 3.10.3 and this new feature introduced a bug.

We use types declared in the 'public' schema (like the hstore and other types), specific schemas (one by domain and eventually migration) and optionally, the parameter in the 'currentSchema' connection string (if the current user does not fit the schema name). Thus, we can use the types declared in the 'public'

[2020-12-10 13:00] molivasdat commented on #1277
HI @sfxcode It should be set for the next couple of releases.  We will try to pull it in earlier.

[2020-12-10 13:49] neivkovic opened #1583 "NullPointerException - referenceUrl=hibernate:spring (mvn liquibase:diff)"
## Environment
spring-boot-starter-data-jpa project <version>2.3.0.RELEASE

**Liquibase Version**:
<liquibase-core.version>4.1.1

**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>
liquibase-maven-plugin

**Liquibase Extension(s) & Version**:
<liquibase-hibernate5.version>4.1.1

**Database Vendor & Version**:
mariadb:10.4.11

**Operating System Type & V

[2020-12-11 03:49] molivasdat commented on #1571
Hi @duronrulez Thanks for writing up this issue.  We will add this to our list of issues to process. If you have a suggested PR for a fix that would be great.

[2020-12-11 03:53] molivasdat commented on #1578
Hi @vlsi Thanks for writing up this issue.  We have a doc site where you can suggest a fix for the documentation.  Please open an [issue](https://github.com/Datical/liquibase-docs/issues) or a [PR](https://github.com/Datical/liquibase-docs/pulls) to fix the documentation.

[2020-12-11 03:55] molivasdat commented on #1579
Hi @dom54 Thanks for writing this issue and submitting it.  We will add it to the list of issues that we need to process.  If you have a suggested fix, you may open a PR and associate it with this issue.

[2020-12-11 03:59] molivasdat commented on #1581
Thanks for writing up this issue @gregu .  We will add it to the list of issues to resolve.  If you have a PR that will fix it before then, please go ahead and submit it for review.

[2020-12-11 04:03] molivasdat commented on #1583
Hi @neivkovic We just released 4.2.2 to fix this case.  It contains PR https://github.com/liquibase/liquibase/pull/1580  Please update your maven plugin to use 4.2.2 and you should see this error go away.  Let us know if it does fix your issue so that we can close this one.

[2020-12-11 08:09] neivkovic commented on #1583
Thank your for the fast fix. The problem has been resolved!

[2020-12-11 08:10] neivkovic commented on #1583
I will close the issue. Thank you again!

[2020-12-11 08:10] #1583 closed

[2020-12-11 12:11] zholub opened #1584 "Race condition and possible lock bypass if two nodes run on clean schema"
## Environment
**Liquibase Version**:
3.10.x, 4.0.x, 4.1.x
**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>
All affected
**Database Vendor & Version**:
Some parts is specific for Oracle, DB2 or Derby, others are vendor independent
**Operating System Type & Version**:
OS independent

## Description
When liquibase run on clean schema it creates and init

[2020-12-11 13:45] mrgrew opened #1585 "Maven Plugin Displays "[project, pluginDescriptor]""
Starting with version 4.1.0, the liquibase-maven-plugin displays "[project, pluginDescriptor]".

I did some analysis and this appears to be left-over debug code. I'll be submitting a pull request to remove that code.

[2020-12-11 14:45] szandany opened #1586 "Liquibase Maven Plugin throws an error with a diff goal requiring a changelogFile referenced"
## Environment
**Liquibase Integration & Version**:  liquibase-maven-plugin - 4.1.1

**Liquibase Extension(s) & Version**: Any

**Database Vendor & Version**: Any

**Operating System Type & Version**: Windows or Linux.

## Description
When running Liquibase diff goal, without including a changeLogFile, Liquibase will throw an error asking to reference a changelog with the changeLogFile property.

[2020-12-11 17:25] molivasdat commented on #1113
Hi @ZigZag59 Thanks for bringing this to our attention.  We did make a change to search path recently and that may be why you are now seeing this issue.  We'll take a look at what was fixed and see if we can accommodate both requests for searchpath use cases. Or if there is a workaround.

[2020-12-14 12:25] n-dimens commented on #1344
Check default encoding for collation in your database. This is not problem liquibase, i think. For me it was a solution to the same problem.

[2020-12-14 23:38] molivasdat commented on #1584
Hi @zholub Thanks for bringing this issue to our attention.  We will add this to the list of issues we need to process.

[2020-12-14 23:40] molivasdat commented on #1585
Hi @mrgrew Thanks for adding this issue to our attention and thanks for creating a PR to fix it.  We will add this to our list of issues to process.

[2020-12-15 16:04] wnyffenegger opened #1588 "Postgres 11.10 Liquibase Initialization databasechangeloglock Race Condition"
## Environment
**Liquibase Version**: 3.10.3

**Liquibase Integration & Version**: spring boot 2.4.0

**Liquibase Extension(s) & Version**: N/A

**Database Vendor & Version**: PostgresSQL version 11.10

**Operating System Type & Version**: Red Hat Enterprise Linux Server release 7.9 (Maipo)

## Description
When initializing an environment with a fresh database (common in CI environments) sometimes

[2020-12-16 12:26] danielthegray opened #1591 "No validation errors when customChange param has no "name" attribute"
## Environment
**Liquibase Version**: 3.10

**Database Vendor & Version**: any

**Operating System Type & Version**: any

## Description
Create a custom change with a params list where there is no "name", it will trigger a NullPointerException instead of a nicer validation error explaining the problem.

## Steps To Reproduce
A changelog file with the following customChange:

[code]

which **was ge

[2020-12-16 14:51] molivasdat opened #1594 "Add documentation on how to register a changelog from the liquibase docker images"
## Environment
**Liquibase Version**:docker latest and docker 4.2.0

**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>CLI docker

**Liquibase Extension(s) & Version**: N/A

**Database Vendor & Version**:All

**Operating System Type & Version**:Mac OS

## Description
Need to add documentation on how to use the docker image to register a changelog so tha

[2020-12-17 00:45] mendietaczfls commented on #1539
Hi @molivasdat thanks for the reply. This time I tried with the latest liquibase docker image [**liquibase/liquibase:4.2**](https://hub.docker.com/layers/liquibase/liquibase/4.2/images/sha256-862cc1fa2fcf7711b0a2738521f9a3c9eb0ab061a9069591555b44c4523dd2d9?context=explore) and I still get the same error

`liquibase.exception.DatabaseException: liquibase.exception.DatabaseException: Connection coul

[2020-12-17 16:45] molivasdat commented on #1539
Hi @mendietaczfls Thanks for the feedback.  I'll will try to reproduce the error you are seeing and see if it is related to the url or now.  I wouldn't think so like you said but it doesn't hurt to verify the different scenarios.
In the meantime, can you change the loglevel to FINE or higher and see if there are additional errors shown that may give a better clue as to why it is failing to connect

[2020-12-17 17:00] chadoc opened #1595 "since refacoring of ClassLoaderResourceAccessor in 4..0.0-beta2, searchPath "classpath*:" is not handled anymore correctly"
## Environment
**Liquibase Version**: 4.2.2

**Liquibase Integration & Version**: spring-boot 2.3.7.RELEASE

**Liquibase Extension(s) & Version**: -

**Database Vendor & Version**: Postgres (but doesn't matter)

**Operating System Type & Version**: Linux mint (but doesn't matter)

## Description
includeAll in a spring-boot project with a searchPath containing a "classpath*:" doesn't find anything.

[2020-12-17 17:25] chadoc commented on #1595
After having tested different version, it looks the issue was introduced by the refactoring of ClassLoaderResourceAccessor already in 4.0.0-beta2:

https://github.com/liquibase/liquibase/blob/bfabfdf1de9b954f2d4a2a792d5377ba88062273/liquibase-core/src/main/java/liquibase/resource/ClassLoaderResourceAccessor.java#L219

[2020-12-18 03:26] molivasdat commented on #1588
Hi @wnyffenegger Thanks for bringing this issue to our attention.  We will add this to the list of issues to process.

[2020-12-18 03:27] molivasdat commented on #1591
Hi @danielthegray Thanks for taking the time to write up this issue and for taking the time to fix it as well.  It's much appreciated.

[2020-12-18 03:32] molivasdat commented on #1595
Hi @chadoc Thank you for bringing this to our attention.  Since you have identified the code that was changed, if you have a suggested fix, you can create a PR and reference this issue.

[2020-12-18 03:59] #1452 closed

[2020-12-18 08:05] siudeks opened #1597 "'deferred'"
## Environment

**Liquibase Version**: org.liquibase:liquibase-core:jar:3.8.9

**Liquibase Integration & Version**: maven

**Database Vendor & Version**: postgres 11

**Operating System Type & Version**: ubuntu (wsl)

## Description
PrimaryKey constraint does not honor 'deferred' and 'initiallyDeferred' settings so that created primary key is not 'deferred'

## Steps To Reproduce
Use script:
[code

[2020-12-18 12:52] zamani84 opened #1598 "Extra backslash added in the column values in the genarated sql"
## We make a liquibase database export from oracle DB. In some columns the value "\b08.*" is saved. When I execute "mvn liquibase:generateChangeLog" command then the value is exported in a insert statment like this:
[code]

We use liquibase 3.6.2.

Please, I don't know how the exporter changes the value of the exported column values. How can I prevent this? I want exactly the value as it is in the

[2020-12-21 10:13] EDOUP opened #1599 "spring-boot-autoconfigure-2.1.17.RELEASE Cannot resolve classpath"
## Environment
**Liquibase Version**: 4.0.0

**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>
 spring-boot-starter-parent  2.1.17.RELEASE

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**:

**Operating System Type & Version**:

## Description
A clear and concise description of the issue being addressed.

* Describe the actual probl

[2020-12-21 10:16] EDOUP commented on #1599
Has anyone encountered it before? Is this a problem?

[2020-12-22 01:31] javastu opened #1600 "CLI doesn't work with Spring Boot Classloader on Windows"
Windows 10

**Liquibase Version**: 3.6.3

**Liquibase Integration & Version**: CLI

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**: H2

**Operating System Type & Version**: Windows

## Description
We use liquibase.integration.commandline.Main to invoke Liquibase programmatically in the startup routine of our application.

We have been building our application with the maven s

[2020-12-23 11:44] ses1112 opened #1601 "Derby CLOB: generate Changelog with diffType data: excpetion"
## Environment

**Liquibase Version**: 4.1.1

**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>
installed

**Liquibase Extension(s) & Version**:
-

**Database Vendor & Version**:
derby with driver-version 10.15.2.0

**Operating System Type & Version**:
Windows 10

## Description

A clear and concise description of the issue being addressed.
- Describe

[2020-12-24 09:59] olegpolukhin commented on #1344
@n-dimens Everything is fine with encoding. This problem arose overnight. When switching from version 3 to 4. I played with different settings, but unfortunately I cannot accept the Cyrillic alphabet.

[2020-12-24 21:10] osganian opened #1603 "Filename + Id + Author is not being treated as unique in ValidatingVisitor.findChangeSet method"
In version 3.1.1 in the ValidatingVisitor.java class the visit method correctly finds the right changeset matching an already executed one in the databasechangelog table with the one that its validating against from the xml file.  However after version 3.4.0 the new findChangeSet method in this class now uses endsWith to see if the files are the same and that is wrong.  For example I have these fi

[2020-12-28 04:17] sibiarunachalam commented on #1163
I'm too facing the same problem in Oracle. Do I need to create separate issue?
My ChangeSet is as below
`<changeSet id="1" author="foouser" dbms="oracle">
        <preConditions onFail="MARK_RAN">
            <not>
                <sequenceExists sequenceName="FooTable_Seq"/>
            </not>
        </preConditions>
        <createSequence sequenceName="FooTable_Seq""/>
    </changeSet>`

[2020-12-28 12:16] urvanov-ru opened #1604 "Underscore in schemaName causes error relation "databasechangelog" already exists"
## Environment
**Liquibase Version** : 4.11

**Liquibase Integration & Version**:  ---

**Liquibase Extension(s) & Version**: ---

**Database Vendor & Version**: PostgreSQL 11

**Operating System Type & Version**: Ubuntu 20.04.1 LTS

## Description
liquibase.snapshot.JdbcDatabaseSnapshot searchs tables using:

[code]

databaseMetaData is an instance of java.sql.DatabaseMetadata. Liquibase passes s

[2020-12-28 21:53] molivasdat commented on #1452
Hi @kuhjunge Can you share where you found that Oracle supports the after and before statements for column adds?
I could not find anywhere in the Oracle docs that showed
`
ALTER TABLE MI6 ADD James INTEGER AFTER Bond
`
was valid Oracle SQL supported code.
I tested the code that @chenmeister created for you and I get this error in Oracle
[code]

I do see the docs that Firebird does support position

[2020-12-29 14:18] molivasdat commented on #1597
Hi @siudeks Thanks for opening this issue.  We will add this to our list of issues to process.  And if I am reading the documentation correctly, [https://www.postgresql.org/docs/9.0/sql-createtable.html](https://www.postgresql.org/docs/9.0/sql-createtable.html), you cannot have both not null and deferrable in the same statement. This would mean that nullable=false and deferrable=true is invalid.

[2020-12-29 15:44] molivasdat commented on #1598
Hi @zamani84 Thanks for writing up this issue.  Do you have a simple use case that you can attach or create a repo that recreates the issue so that we can have the community take a look at fixing it?

[2020-12-29 17:16] ro-rah opened #1605 "Liquibase rollback by tag can work unexpectedly when more than one changelog files are used"
## Environment
Mac OS

**Liquibase Version**:
4.2.0

**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>
CLI

**Liquibase Extension(s) & Version**:
n/a

**Database Vendor & Version**:
postgres from dockercontainer: docker run --name some-postgres -e POSTGRES_PASSWORD=mysecretpassword -d -p 5432:5432 postgres

**Operating System Type & Version**:
Docker i

[2020-12-29 19:25] zamani84 commented on #1598
Hallo,
thanks very much for answering.

We use oracle 12c database.

Create following table as oracle user KONFIG:
---------------
CREATE TABLE KONFIG.MY_TABLE
   (
	A_TXT CHAR(24 CHAR)
	);
-------------------
Then include following into the table:
----------------
Insert into KONFIG.MY_TABLE (A_TXT) values ('\b08.*                  ');
---------------

Now make a data liquibase export of the Tabl

[2020-12-29 19:32] zamani84 commented on #1598
Here the files:

pom.xml , export file : konfig-export.oracle.xml and the sql file to generate table and insert one dataset into it (all in zip file database-export-test.zip)
[database-export-test.zip](https://github.com/liquibase/liquibase/files/5751894/database-export-test.zip)

[2020-12-29 20:45] molivasdat commented on #1452
Hi @kuhjunge I also tried to recreate the error you are seeing in firebird.
I get an error when trying to use alter table add column in position x
[code]
using isql.
The only way that I saw this working is to add the column and then move the column as shown above by issuing 2 alter table statements.  Do you have firebird working differently?

[2020-12-29 21:04] nvoxland commented on #1605
I see what you are getting at. I think it helps to remember that even though there is a tagDatabase function that can be used in a changelog, it's not like that tag belongs to that changelog. The tag really exists on the database history, regardless of how it got there.

When it comes time to roll back to a spot in that history using a tag, liquibase doesn't know or care how that tag got applied,

[2020-12-29 21:53] ro-rah commented on #1605
Perhaps we should disable the use of the --changeLogFile option, since it is only based on the target's databasechangelog table, the acceptance of that argument seems confusing.  How's that sound?  I'm just looking for a way to steer the user from doing something unexpected.  If there is not changelogfile option, then user will hopefully think, I wonder what is in the changelog table?

[2020-12-29 22:21] nvoxland commented on #1605
We need the changelog file, though, because that has the actual logic of what to roll back and how. The history table doesn't include enough to actually do the roll back.

[2020-12-30 11:40] Budlee commented on #1470
Hey,
I was wondering if any thoughts had gone into this?
Having a look I think this may cause some breaking changes to the library as I think a few abstractions would need to be made as the setup is AbstractJdbcDatabase implements Database and ideally I would think we would need some AbstractDatabase class. The other issue I see is so many of these classes require the concrete JdbcConnection so is

[2020-12-30 14:59] mariochampion commented on #1605
perhaps this is, then, a place where we need extra documentation. If users understand the issue, because we optionally can make them aware of what WILL be rolled back to tag, before doing the rollback, then the edge case exists, but is less surprising. perhaps this would be acceptable @ro-rah ?

[2020-12-30 15:42] ro-rah commented on #1605
@nmelny and I are working on this, we will paste in documentation link when it is complete and then we can close this issue.

[2020-12-30 16:00] molivasdat opened #1608 "Owasp-Dependency-Checker list finding CVE-2017-18640 for snakeyaml-1.2.4"
## Environment
**Liquibase Version**:4.2.2 and earlier

**Liquibase Integration & Version**:All

**Liquibase Extension(s) & Version**: N/A

**Database Vendor & Version**:All

**Operating System Type & Version**:N/A

## Description
CVE-2017-18640 issue on snakeyaml 1.24 that is packaged with Liquibase .zip, tar.gz and installer files.

## Steps To Reproduce
Install Liquibase,
Verify that snakeyaml-

[2020-12-30 16:21] dm-ion opened #1609 "CORE-3198 Regression - prefer internal XSD usage"
## Environment
**Liquibase Version**:
4.0.0 -> current (I'm testing on 4.2.2)

**Liquibase Integration & Version**:
Java

**Liquibase Extension(s) & Version**:
None

**Database Vendor & Version**:
ALL / not really relevant

**Operating System Type & Version**:
ALL / not really relevant

## Description
Regression of https://liquibase.jira.com/browse/CORE-3198, when merging 3.10 to 4.0 looks like th

[2020-12-30 16:49] unlimitedsola opened #1610 "diffChangelog command is not respecting the changeSetAuthor option"
## Environment
**Liquibase Version**:
3.10.3

**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>
Any

**Liquibase Extension(s) & Version**:
Any

**Database Vendor & Version**:
Any

**Operating System Type & Version**:
Any

## Description
since the `diffChangelog` command has the potential to write to an external changelog file,
I think we should also re

[2021-01-04 12:04] CDPrete opened #1613 "BatchInsert is translated wrongly for Oracle custom changes"
**Liquibase Integration**: Spring Boot 2.1.2

**Database Vendor & Version**: Oracle 12

## Description
When creating a custom change that implies the usage of InsertSetStatement for performing multiple insertions at once, the InsertSetGenerator#supports method returns `true` for Oracle, but the statement that's generated is invalid.
`INSERT INTO XYZ(X,Y,Z) VALUES(....),...,(...)` is generated rath

[2021-01-04 14:52] molivasdat commented on #1599
Hi @EDOUP Thanks for writing up this issue.  We typically do not go back and retro fit fixes available in newer releases.  Is there a reason that you need 2.1.17 instead of 2.2.x?

[2021-01-04 14:53] molivasdat commented on #1600
Hi @javastu Thanks for alerting us to this issue.  We will add it to our list of issues to process.

[2021-01-04 15:03] molivasdat commented on #1601
Hi @ses1112 Thanks for writing up this issue.  We will add this to our list of issues to review.

[2021-01-04 15:13] EDOUP commented on #1599
Thanks , because i use it in company . Upgrading is a bit of a hassle, I'll try something else

[2021-01-04 16:05] Betlista opened #1614 "Addition of liquibase.update()"
## Environment
**Liquibase Version**: 4.2.2

**Liquibase Integration & Version**: Spring Boot 2.2.2

**Liquibase Extension(s) & Version**: N/A

**Database Vendor & Version**: HSQLDB

**Operating System Type & Version**: Win 10

## Description
This is a request for enahancement.

I tried to implement liquibase update programatically in Spring Boot application and I found that `liquibase.Liquibase.u

[2021-01-04 16:14] Betlista opened #1615 "API inconsistency - Liquibase creation file vs. DatabaseChangeLog"
## Environment

**Liquibase Version**: 4.2.2

**Liquibase Integration & Version**: Spring Boot

**Liquibase Extension(s) & Version**: N/A

**Database Vendor & Version**: HSQLDB

**Operating System Type & Version**: Win 10

## Description

There is an inconsistency, while this **works**:

[code]

this **does not work**:

[code]

## Steps To Reproduce

code above

## Actual Behavior

In second scena

[2021-01-04 16:36] Betlista opened #1616 "Liquibase API simplification"
## Environment

**Liquibase Version**: 4.2.2

**Liquibase Integration & Version**: Spring Boot 2.2.2

**Liquibase Extension(s) & Version**: N/A

**Database Vendor & Version**: HSQLDB

**Operating System Type & Version**: Win 10

## Description

This is a request for enahancement.

When using liquibase from command line I just need to provide a command, e.g. `liquibase update` as mentioned [here](h

[2021-01-04 22:09] Betlista commented on #1615
The problem seems to be in `getDatabaseChangeLog()`, which is called from `update(Contexts contexts, LabelExpression labelExpression, boolean checkLiquibaseTables)`:

[code]

...where `if` condition really says "do not do the parsing if databaseChangeLog  was provided", which seems to be wrong to me still.

While we need `changeLogFile` to get parsed `databaseChangeLog`, offering `public Liquibase

[2021-01-05 09:26] lukaseder opened #1618 "Outdated snakeyaml version in documentation"
## Environment
The documentation

## Description
The documentation about using YAML mentions the requirement to use snakeyaml-1.12.jar:
https://docs.liquibase.com/concepts/basic/yaml-format.html

The pom.xml references version 1.24:
https://github.com/liquibase/liquibase/blob/75bc150e4d7281008842d77c0d140c2244284475/base.pom.xml#L77-L82

## Expected/Desired Behavior
I don't think the version numbe

[2021-01-05 11:45] MarkusLutum commented on #1482
Same issue here.
Fails on a simple precondition check
`<changeSet id="drop_duplicate_pi_index" author="markuslutum">
    <preConditions onFail="MARK_RAN">
      <indexExists indexName="sk_myindex" />
    </preConditions>
    <dropIndex tableName="thetable" indexName="sk_myindex" />
  </changeSet>`

[2021-01-05 12:57] oleksanderkorn commented on #1595
I have similar issue. I am using Spring Boot and Liquibase. And I have defined changelog file as following:
[code]
When I use `liquibase-core` version `4.0.0` it works as expected, and changelog files inside `db/changelog/0.0.1` are found and applied correctly:
![image](https://user-images.githubusercontent.com/9252017/103648778-adb7f880-4f5d-11eb-8ff1-a202d605e360.png)
When I only change version

[2021-01-05 14:51] molivasdat commented on #1452
Hi @kuhjunge Thanks for doing the research.
I found that the same `alter table mi6 alter james position 2` works as the way you describe on Firebird 3.0 too.

but that means
`<changeSet author="test" context="context" dbms="firebird" id="Test" objectQuotingStrategy="LEGACY"> <addColumn tableName="MI6"> <column name="James" position="2" type="int" valueNumeric="0"/> </addColumn> </changeSet>`

is t

[2021-01-05 16:32] molivasdat commented on #1603
Thanks @osganian for the excellent review of the code.  We will add this to our list of issues to resolve or update the documentation to make it clear as to what is unique.

[2021-01-05 17:03] molivasdat commented on #1482
Hi @MarkusLutum Thanks for the update which version of Liquibase are you using? And is this for PostgreSQL v12 as well?

Hi @raja-hm - Can you update the Description section.  I checked the forum and did not find the version of Liquibase you are using to test your upgrade to PG 12.

[2021-01-05 18:21] osganian commented on #1603
Thanks for the response, can you tell me if this is something you will fix in the code?  To me its more of a bug as I cannot right now upgrade since I am unable to rename my files.

Thanks,
Mike

[2021-01-06 13:32] molivasdat commented on #1603
Hi @osganian.  Still checking with development.

[2021-01-06 14:49] molivasdat commented on #1618
Hi @lukaseder Thanks for writing this up.  Can you move this to our docs repo? [https://github.com/Datical/liquibase-docs/issues](https://github.com/Datical/liquibase-docs/issues
)

[2021-01-06 14:53] molivasdat commented on #1604
Hi @urvanov-ru Thanks for this excellent repro and an repo that shows the issue.  We will add this to our list of issues to process.

[2021-01-06 16:33] #1608 closed

[2021-01-06 16:36] lukaseder commented on #1618
Sure: https://github.com/Datical/liquibase-docs/issues/86

[2021-01-06 16:36] #1618 closed

[2021-01-06 19:46] molivasdat commented on #1609
Hi @dm-ion Thanks for bringing this to our attention.  I'm checking with development to see what happened.

[2021-01-06 21:13] dm-ion commented on #1609
Sure sounds good, also it appears your servers don't like this behaviour very much.

I've seen some 429 responses from your servers recently due to this as well.

java.io.IOException: Server returned HTTP response code: 429 for URL: http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-4.2.xsd

[2021-01-06 21:19] nvoxland commented on #1609
That block of code should no longer be needed in the 4.0+ releases becauuse of how we updated the LiquibaseEntityResolver.

I'm not able to replicate the problem of pulling from the network. But, I could maybe see it not working if your ResourceAccessor does not include  include the liquibase.jar? How are you running liquibase? And can you post logLevel=fine logs?

[2021-01-06 21:43] nvoxland commented on #1609
Actually, however you are running liquibase, we need to make sure that however the ResourceAccessor gets configured, Liquibase will check the classpath as well.

I made a PR that should fix this in #1621. Are you able to test that branch/change in your environment?

[2021-01-06 21:45] dm-ion commented on #1609
I agree that is certainly a more robust fix, I was just being lazy with my suggested fix.

I can give your solution a test tomorrow morning / afternoon.

[2021-01-06 22:16] molivasdat commented on #1610
Thanks @unlimitedsola for submitting this issue.  We will add it to the list of issues that we are processing.

[2021-01-06 22:25] molivasdat commented on #1613
Hi @CDPrete Thanks for writing up this issue.
If I could get a little more information in the description of what you are trying to do that would be great.
Can you describe how to recreate the problem you are seeing and what you expect the outcome to be?
Another assumption is that you are using Spring Boot 2.1.2 with the version of liquibase it comes with 3.6?
[https://mvnrepository.com/artifact/o

[2021-01-06 22:28] molivasdat commented on #1614
Hi @Betlista Thanks for adding this issue.  We will add it to the list of enhancements we are processing.

[2021-01-06 22:40] dm-ion commented on #1609
How I'm invocating liquibase is from Java, using the following command:

`return new liquibase.Liquibase(changeLogPath.getFileName().toString(), new FileSystemResourceAccessor(changeLogPath.getParent().toFile()), database);`

After I test your PR, I'll also test on the existing version using a CompositeResourceAccessor in place of my second argument there. I would expect that could work for the cu

[2021-01-06 22:43] molivasdat commented on #1615
Hi @Betlista Thanks for writing up this issue.  We will add it to the list of issues we are processing.

[2021-01-06 23:05] molivasdat commented on #1616
Hi @Betlista Thanks for writing this issue.  The page you referenced has a 5 min video that shows what is happening. In that video there is an assumption that you have provided a **liquibase.properties** in the same directory that you are executing **liquibase update** from on the command line.  Otherwise the **liquibase update** will return an error asking for missing parameters.
We could update

[2021-01-06 23:08] molivasdat commented on #1599
Ok.  Closing as fixed in newer version.

[2021-01-06 23:08] #1599 closed

[2021-01-06 23:11] nvoxland commented on #1603
It looks like that endsWith logic was incorrectly added to handle problems in dbdoc which have been since handled better.

I created #1622 to fix the problem

[2021-01-07 00:23] Betlista commented on #1616
Oh, thank you for the link, no idea why I missed that one, but I saw this one - https://docs.liquibase.com/tools-integrations/springboot/using-springboot-with-maven.html only.

By "...from command line I just need to provide a command, e.g. `liquibase update`" I meant that properties have to be there as well as change log of course...

But the idea of enhancement is, that similar logic will be app

[2021-01-07 07:59] CDPrete commented on #1613
Hi @molivasdat
Yes, I'm using the version provided by Spring Boot.

What I'm doing is essentially to implement a https://www.javadoc.io/static/org.liquibase/liquibase-core/3.6.0/liquibase/change/custom/CustomSqlChange.html that returns an array of https://www.javadoc.io/static/org.liquibase/liquibase-core/3.6.0/liquibase/statement/core/InsertSetStatement.html where, of course, every InsertSetState

[2021-01-07 14:38] dm-ion commented on #1609
Brilliant, works great when I ran a schema upgrade. Also what I said above works for the current version as well.

Thanks!

Also while I've got your attention thanks for liquibase, it's a nice product. :)

[2021-01-07 16:44] kraymondksc opened #1623 "Usage of endDelimiter in scripts now require spacing"
## Environment
**Liquibase Version**: 3.10.3

**Liquibase Integration & Version**: maven

**Liquibase Extension(s) & Version**:

**Database Vendor & Version**: MySQL

**Operating System Type & Version**: OSX 10.15.7

## Description
We are in the process of upgrading Liquibase from 3.3.1 to 3.10.3.  The following worked correctly in 3.3.1.

We have stored procedures that are created via Liquibase.

[2021-01-08 19:08] urvanov-ru commented on #1604
Maybe we can use `databaseMetaData.getSearchStringEscape()` to escape our special characters.

[2021-01-11 06:16] dewa-actico opened #1624 "preConditions onSqlOutput TEST configuration does not work for nested changelogs"
**Liquibase Version**:
3.6.3 (but same code on master)

**Liquibase Integration & Version**: <Pick one: CLI, maven, gradle, spring boot, servlet, etc.>
maven

## Description
`onSqlOutput` does not work, if it is used in a nested changelog.

## Steps To Reproduce
* Create a config with changelog A importing changelog B.
* Add a changeset in B with a PreCondition which will always fail.
* Use the `u